[Desktop Entry]
Name=Among Us
Comment=Find The Impostos Among Us
Exec=wine "/home/pixel/.amongus/Among Us.exe"
Icon=/usr/share/icons/amongus.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Game;
StartupNotify=true
MimeType=application;
