[Desktop Entry]
NoDisplay=true
Version=1.0
Type=Application
Name=DeSmuME (Gtk-Glade)
Comment=Nintento DS emulator
TryExec=desmume-glade
Exec=desmume-glade
Icon=/usr/share/icons/desmume.png
Categories=GNOME;GTK;Game;Emulator;
