[Desktop Entry]
Name[af]=Installeer sagteware
Name[ar]=تنصيب البرمجيّات
Name[as]=চফ্টৱেৰ ইনস্টল
Name[bg]=Инсталиране на програми
Name[bn]=সফটওয়্যার সংস্থাপন
Name[bs]=Instalacija Softvera
Name[ca]=Instal·lació de programari
Name[ca@valencia]=Instal·lació de programari
Name[cs]=Instalace softwaru
Name[da]=Softwareinstallation
Name[de]=Software-Installation
Name[el]=Εγκατάσταση λογισμικού
Name[en_GB]=Software Install
Name[eo]=Instalado de programaro
Name[es]=Instalar software
Name[eu]=Softwarea instalatzea
Name[fa]=نصب نرم‌افزار
Name[fi]=Ohjelmiston asennus
Name[fr]=Installation de l’application
Name[fur]=Instale software
Name[gd]=Stàlaich bathar-bog
Name[gl]=Instalar software
Name[he]=התקנת תכנה
Name[hi]=सॉफ़्टवेयर स्थापना
Name[hr]=Instaliraj softver
Name[hu]=Szoftvertelepítő
Name[id]=Pasang Perangkat Lunak
Name[is]=Uppsetning hugbúnaðar
Name[it]=Installa software
Name[ja]=ソフトウェアのインストール
Name[kk]=БҚ орнату
Name[km]=ដំឡើង​កម្មវិធី
Name[ko]=프로그램 설치
Name[lt]=Programinės įrangos diegimas
Name[lv]=Programmatūras instalēšana
Name[ml]=സോഫ്റ്റ്‌വെയർ ഇൻസ്റ്റാൾ ചെയ്യുക
Name[ms]=Pasang Perisian
Name[nb]=Installer programvare
Name[ne]=सफ्टवेयर स्थापना गर्नुहोस्
Name[nl]=Software-installatie
Name[oc]=Installacion de l'aplicacion
Name[pa]=ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Instalacja oprogramowania
Name[pt]=Instalação de aplicações
Name[pt_BR]=Instalação de programa
Name[ro]=Instalare aplicații
Name[ru]=Установка приложений
Name[sk]=Inštalácia softvéru
Name[sl]=Nameščanje programske opreme
Name[sr]=Инсталација програма
Name[sr@latin]=Instalacija programa
Name[sv]=Installera programvara
Name[te]=సాఫ్ట్‌వేర్ స్థాపన
Name[th]=ติดตั้งซอฟต์แวร์
Name[tr]=Yazılım Kur
Name[uk]=Установлення програм
Name[vi]=Cài đặt Phần mềm
Name[zh_CN]=软件安装
Name[zh_HK]=軟件安裝
Name[zh_TW]=軟體安裝
Name=Software Install
Comment[af]=Installeer gekose sagteware op die stelsel
Comment[ar]=نصّب البرمجيّات المحدّدة على النّظام
Comment[as]=চিস্টেমত নিৰ্বাচিত চফ্টৱেৰ ইনস্টল কৰক
Comment[bg]=Инсталиране на избраните програми на системата
Comment[bn]=সিস্টেমে নির্বাচিত সফটওয়্যার সংস্থাপন করুন
Comment[bs]=Instaliraj selektovani softver na sistem
Comment[ca]=Instal·la el programari seleccionat al sistema
Comment[ca@valencia]=Instal·la el programari seleccionat al sistema
Comment[cs]=Nainstalujte si vybraný software do systému
Comment[da]=Installér valgte programmer på systemet
Comment[de]=Gewählte Software auf dem System installieren
Comment[el]=Εγκατάσταση του επιλεγμένου λογισμικού στο σύστημα
Comment[en_GB]=Install selected software on the system
Comment[eo]=Instali elektitan programaron en la sistemon
Comment[es]=Instalar el software seleccionado en el sistema
Comment[eu]=Instalatu hautatutako softwarea sisteman
Comment[fa]=نصب برنامه گزیده روی سیستم
Comment[fi]=Asenna valitut ohjelmistot järjestelmään
Comment[fr]=Installer l’application sélectionnée sur le système
Comment[fur]=Instale il software selezionât tal sisteme
Comment[gd]=Stàlaich roghainn de bhathar-bog air an t-siostam
Comment[gl]=Instala o software seleccionado no seu sistema
Comment[he]=התקנת התכנה הנבחרת על המערכת
Comment[hi]=सिस्टम पर चयनित सॉफ़्टवेयर स्थापित करें
Comment[hr]=Instaliraj odabrani softver na sustav
Comment[hu]=A kijelölt szoftverek telepítése a rendszerre
Comment[id]=Pasang perangkat lunak yang dipilih pada sistem
Comment[it]=Installa il software selezionato sul sistema
Comment[ja]=選択したソフトウェアをシステムにインストールします
Comment[kk]=Таңдалған БҚ-ны жүйеге орнату
Comment[km]=ដំឡើង​កម្មវិធី​បាន​ជ្រើស​លើ​ប្រព័ន្ធ
Comment[ko]=선택한 프로그램을 시스템에 설치
Comment[lt]=Įdiegti pažymėtą programinę įrangą sistemoje
Comment[lv]=Instalēt izvēlēto programmatūru sistēmā
Comment[ml]=സിസ്റ്റത്തിൽ തിരഞ്ഞെടുത്ത സോഫ്റ്റ്‌വെയർ ഇൻസ്റ്റാൾ ചെയ്യുക
Comment[ms]=Pasang perisian terpilih di dalam sistem
Comment[nb]=Installer utvalgt programvare på systemet
Comment[nl]=De geselecteerde software installeren op het systeem
Comment[oc]=Installar l'aplicacion seleccionada sul sistèma
Comment[pa]=ਚੁਣੇ ਸਾਫਟਵੇਅਰ ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalowanie wybranego oprogramowania na komputerze
Comment[pt]=Instalar as aplicações selecionadas no seu sistema
Comment[pt_BR]=Instala programas selecionados no sistema
Comment[ro]=Instalează aplicațiile selectate pe calculator
Comment[ru]=Установить выбранное программное обеспечение
Comment[sk]=Inštaluje vybraný softvér do systému
Comment[sl]=Namesti izbrano programsko opremo v sistem
Comment[sr]=Инсталирајте изабране програме на систем
Comment[sr@latin]=Instalirajte izabrane programe na sistem
Comment[sv]=Installera valda programvaror på systemet
Comment[te]=ఎంచుకున్న సాఫ్ట్‌వేరును వ్యవస్థపై స్థాపించు
Comment[th]=ติดตั้งซอฟต์แวร์ที่เลือกลงในระบบ
Comment[tr]=Seçili yazılımı sisteme kur
Comment[uk]=Встановити у систему вибрані програми
Comment[vi]=Cài đặt phần mềm đã chọn vào hệ thống
Comment[zh_CN]=安装选中的软件到系统上
Comment[zh_HK]=安裝選取的軟件到系統中
Comment[zh_TW]=安裝選取的軟體到系統中
Comment=Install selected software on the system
Categories=System;
Exec=gnome-software --local-filename %f
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=system-software-install
StartupNotify=true
NoDisplay=true
MimeType=application/x-rpm;application/x-redhat-package-manager;application/x-deb;application/x-app-package;application/vnd.ms-cab-compressed;application/vnd.flatpak;application/vnd.flatpak.repo;application/vnd.flatpak.ref;application/vnd.snap;
