[Desktop Entry]
Name[ca]=Compartició de fitxers
Name[cs]=Sdílení souborů
Name[de]=Dateifreigabe
Name[el]=Κοινή χρήση αρχείων
Name[es]=Compartición de archivos
Name[eu]=Fitxategiak partekatzea
Name[fa]=هم‌رسانی پرونده
Name[fi]=Tiedostonjako
Name[fr]=Partage de fichiers
Name[fur]=Condivision dai File
Name[gl]=Compartición de ficheiros
Name[hr]=Dijeljenje datoteka
Name[hu]=Fájlmegosztás
Name[id]=Berbagi Berkas
Name[ja]=ファイル共有
Name[ko]=파일 공유
Name[lt]=Dalinimasis failais
Name[lv]=Datņu koplietošana
Name[mjw]=File Sharing
Name[nl]=Bestanden delen
Name[pl]=Udostępnianie plików
Name[pt_BR]=Compartilhamento de arquivos
Name[ro]=Partajarea fișierelor
Name[sl]=Souporaba datotek
Name[sr]=Дељење датотека
Name[sv]=Fildelning
Name[tr]=Dosya Paylaşımı
Name[zh_CN]=文件共享
Name=File Sharing
Comment[ca]=Executa la compartició de fitxers si està habilitat
Comment[cs]=Spustit Sdílení souborů, je-li povoleno
Comment[de]=Dateifreigabe starten, wenn aktiv
Comment[el]=Εκκίνηση κοινής χρήσης αρχείων, αν είναι ενεργοποιημένη
Comment[es]=Lanzar la compartición de archivos personales si está activada
Comment[eu]=Abiarazi fitxategiak partekatzea, gaituta badago
Comment[fa]=اجرای هم‌رسانی پرونده در صورت فعّال بودن
Comment[fi]=Käynnistä tiedostonjako, jos käytössä
Comment[fr]=Lance le partage de fichiers s’il est activé
Comment[fur]=Fâs partî la Condivision dai File se abilitade
Comment[gl]=Inicia a Compartición de ficheiros se está activado
Comment[hr]=Pokreni dijeljenje datoteka ako je omogućeno
Comment[hu]=Fájlmegosztás indítása, ha engedélyezett
Comment[id]=Luncurkan Berbagi Berkas jika diaktifkan
Comment[ja]=ファイル共有を起動します (可能な場合)
Comment[ko]=파일 공유를 시작합니다 (공유 기능을 사용할 경우)
Comment[lt]=Paleisti dalinimąsi failais, jei įjungta
Comment[lv]=Palaist datņu koplietošanu (ja tā ir ieslēgta)
Comment[nl]=‘Bestanden delen’ opstarten indien ingeschakeld
Comment[pl]=Uruchamia udostępnianie plików, jeśli jest włączone
Comment[pt_BR]=Executa o compartilhamento de arquivos, se habilitado
Comment[ro]=Lansează partajarea fișierelor dacă este activat
Comment[sl]=Zaženi souporabo datotek, če je ta omogočena
Comment[sr]=Покрени дељење датотека ако је омогућено
Comment[sv]=Starta fildelning om aktiverat
Comment[tr]=Eğer etkinse Dosya Paylaşımını başlat
Comment[zh_CN]=如果启用则启动文件共享
Comment=Launch File Sharing if enabled
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=deel;lêers;http;netwerk;kopieer;stuur;
Keywords[be]=супольны;рэсурс;http;сетка;капіраванне;паслаць;пасылка;
Keywords[bg]=споделяне;файлове;уеб;мрежа;копиране;изпращане;share;files;bluetooth;obex;http;network;copy;send;
Keywords[ca]=comparteix;fitxers;http;xarxa;copia;envia;
Keywords[ca@valencia]=comparteix;fitxers;http;xarxa;copia;envia;
Keywords[cs]=sdílet;sdílení;http;síť;kopírovat;kopírování;poslat;posílání;
Keywords[da]=del;deling;filer;http;netværk;kopier;send;
Keywords[de]=Freigabe;Dateien;http;Netzwerk;kopieren;Transfer;teilen;
Keywords[el]=κοινή χρήση;αρχεία;δίκτυο;αντιγραφή;αποστολή;share;files;http;network;copy;send;
Keywords[en_GB]=share;files;http;network;copy;send;
Keywords[eo]=kunhavigi;dosieroj;http;reto;kopii;sendi;
Keywords[es]=compartir;archivos;http;red;copiar;enviar;
Keywords[eu]=partekatu;fitxategiak;http;sarea;kopiatu;bidali;
Keywords[et]=share;files;http;network;copy;send;jagamine;failid;faile;võrk;kopeerimine;saatmine;saada;
Keywords[fa]=share;files;http;network;copy;send;اشتراک;هم‌رسانی;شبکه;ارسال;فرستادن;
Keywords[fi]=share;files;http;network;copy;send;jako;jakaminen;verkko;lähetys;kopiointi;
Keywords[fr]=partager;fichiers;http;réseau;copier;envoi;envoyer;
Keywords[fur]=condividi;file;http;rêt;copiâ;inviâ;
Keywords[gd]=share;files;http;network;copy;send;co-roinneadh;faidhle;faidhlichean;lìonra;lethbhreac;cuir;cur;
Keywords[gl]=compartir;ficheiros;http;rede;copiar;enviar;
Keywords[gu]=વહેંચવુ;ફાઇલો;http;નેટવર્ક;નકલ;મોકલો;
Keywords[he]=שיתוף;קבצים;רשת;העתקה;שליחה;
Keywords[hr]=dijeli;datoteka;http;mreža;kopiraj;pošalji;
Keywords[hu]=megosztás;fájlok;http;hálózat;másolás;küldés;
Keywords[id]=berbagi;bersama;berkas;http;jaringan;salin;kirim;
Keywords[is]=deila;skrár;http;netkerfi;afrit;senda;
Keywords[it]=condividere;file;http;rete;copiare;inviare;
Keywords[ja]=share;files;http;network;copy;send;共有;ファイル;ネットワーク;コピー;複製;送信;
Keywords[kk]=бөлісу;файлдар;http;желі;көшіріп алу;жіберу;
Keywords[ko]=share;공유;files;파일;http;network;네트워크;인터넷;copy;복사;send;보내기;
Keywords[ln]=Kabola;fichiers;http;rezo;copier;tinda;
Keywords[lt]=dalintis;failai;http;tinklas;kopijuoti;siųsti;
Keywords[lv]=koplietot;datnes;http;tīkls;kopēt;sūtīt;
Keywords[mjw]=share;files;http;network;copy;send;
Keywords[ml]=share;files;http;network;copy;send;
Keywords[nb]=del;filer;http;nettverk;kopier;send;
Keywords[ne]=साझा;फाईल;http;नेटवर्क;प्रतिलिपि;पठाउन;
Keywords[nl]=share;files;http;network;copy;send;delen;bestanden;netwerk;kopiëren;versturen;verzenden;
Keywords[oc]=partejar;fichièrs;http;ret;copiar;mandadís;mandar;
Keywords[pa]=ਸਾਂਝ;ਫਾਇਲਾਂ;ਸ਼ੇਅਰ;http;ਨੈੱਟਵਰਕ;ਕਾਪੀ;ਭੇਜੋ;
Keywords[pl]=udostępnianie;współdzielenie;pliki;plików;http;sieć;sieci;skopiuj;kopia;wyślij;wysyłanie;
Keywords[pt]=partilha;ficheiros;http;rede;copiar;enviar;
Keywords[pt_BR]=compartilhar;arquivos;http;rede;copiar;enviar;
Keywords[ro]=share;files;http;network;copy;send;parajare;partajează;fișiere;rețea;copiere;copiază;trimitere;trimite;
Keywords[ru]=доступ;файлы;http;сеть;копировать;отправить;
Keywords[sk]=sprístupniť;sprístupnenie;zdieľať;zdieľanie;súbory;http;sieť;kopírovať;kopírovanie;odoslať;odoslanie;
Keywords[sl]=souporaba;datoteke;http;omrežje;kopiranje;pošiljanje;
Keywords[sr]=дели;дељење;датотеке;хттп;мрежа;умножи;копирај;пошаљи;share;files;http;network;copy;send;
Keywords[sr@latin]=deli;deljenje;datoteke;http;mreža;umnoži;kopiraj;pošalji;
Keywords[sv]=dela;filer;http;nätverk;kopiera;skicka;
Keywords[tr]=paylaş;dosyalar;http;ağ;kopyala;gönder;
Keywords[uk]=оприлюднити;файли;http;мережа;копіювати;надіслати;
Keywords[vi]=share;chia;sẻ;se;files;tập;tin;tap;network;mạng;mang;copy;chép;chep;send;gửi;gui;
Keywords[zh_CN]=share;files;bluetooth;obex;http;network;copy;send;共享;文件;蓝牙;网络;复制;发送;
Keywords[zh_TW]=share;files;http;network;copy;send;分享;檔案;網路;複製;傳送;
Keywords=share;files;http;network;copy;send;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=folder-remote
Exec=/usr/lib/gnome-user-share-webdav
Terminal=false
Type=Application
NoDisplay=true
Categories=
