[Desktop Entry]
Name=Android Studio
Icon=/home/pixel/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/.icon.svg
StartupWMClass=jetbrains-studio
Comment=Everything you need to build on Android
Exec="/home/pixel/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/193.6626763/bin/studio.sh" %f
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false