[Desktop Entry]
Version=1.0
Name=MacOS
Comment=Boot MacOS from QEMU
Exec=bash -c "cd /home/pixel/macOS-Simple-KVM/ && ./basic.sh" %f
Icon=/usr/share/icons/macos.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true
MimeType=application;
