[Desktop Entry]
Version=1.0
Type=Application
Name=MATLAB R2021b
Icon=/usr/share/icons/matlab.png
Exec=/usr/local/bin/matlab -desktop -prefersoftwareopengl
Terminal=false
