[Desktop Entry]
Type=Application
Name[af]=Klankopnemer
Name[ar]=مُسجل الأصوات
Name[an]=Gravadora de sons
Name[as]=শব্দ ৰেকৰ্ডাৰ
Name[be]=Гукавы рэгістратар
Name[bs]=Snimač zvuka
Name[ca]=Enregistradora de so
Name[ca@valencia]=Enregistradora de so
Name[ckb]=تۆرمارکەری دەنگ
Name[cs]=Nahrávání zvuku
Name[da]=Lydoptagelse
Name[de]=Tonaufzeichner
Name[el]=Εγγραφή ήχου
Name[en_GB]=Sound Recorder
Name[eo]=Sonregistrilo
Name[es]=Grabadora de sonidos
Name[eu]=Soinu grabatzailea
Name[fa]=ضبط صوت
Name[fi]=Ääninauhuri
Name[fr]=Enregistreur de son
Name[fur]=Regjistradôr di suns
Name[gl]=Gravadora de son
Name[he]=רשמקול
Name[hr]=Snimatelj zvuka
Name[hu]=Hangrögzítő
Name[id]=Perekam Suara
Name[is]=Hljóðupptaka
Name[it]=Registratore di suoni
Name[ja]=サウンドレコーダー
Name[kk]=Дыбыстарды жазу қолданбасы
Name[ko]=녹음기
Name[lt]=Garso įrašymas
Name[lv]=Skaņu ierakstītājs
Name[mjw]=Sound Recorder
Name[ml]=സൗണ്ട് റെക്കോർഡർ
Name[ms]=Perakam Bunyi
Name[nb]=Lydopptaker
Name[ne]=ध्वनि रेकर्डर
Name[nl]=Geluidsrecorder
Name[oc]=Enregistrador de son
Name[pa]=ਸਾਊਂਡ ਰਿਕਾਰਡ
Name[pl]=Nagrywanie
Name[pt]=Gravador de som
Name[pt_BR]=Gravador de som
Name[ro]=Înregistrator de sunet
Name[ru]=Диктофон
Name[sk]=Nahrávanie zvuku
Name[sl]=Snemalnik zvoka
Name[sr]=Снимач звука
Name[sr@latin]=Snimač zvuka
Name[sv]=Ljudinspelare
Name[te]=శబ్ద నమోదకం
Name[tg]=Сабткунандаи овоз
Name[tr]=Ses Kaydedici
Name[uk]=Записувач звуку
Name[vi]=Thu âm
Name[zh_CN]=录音机
Name[zh_HK]=錄音機
Name[zh_TW]=錄音機
Name=Sound Recorder
Comment[af]=Neem klank op deur die mikrofoon en speel dit terug
Comment[ar]=يسجل الأصوات عبر الميكروفون و يعيد تشغيلهم
Comment[an]=Gravar son con o microfono y reproducir-lo
Comment[as]=মাইক্ৰফোনৰ সহায়ত শব্দ ৰেকৰ্ড কৰক আৰু ইয়াক পুনৰ চলাওক
Comment[be]=Запіс гуку праз мікрафон і прайграванне
Comment[bs]=Snimi zvuk preko mifrofona i pokreni u pozadini
Comment[ca]=Enregistra un so mitjançant el micròfon i reprodueix-lo
Comment[ca@valencia]=Grava un so mitjançant el micròfon i reprodueix-lo
Comment[ckb]=دەنگ تۆماربکە بە مایکرۆفۆن و دووای لێیبدەرەوە
Comment[cs]=Nahrává mikrofonem zvuk a zpětně jej přehrává
Comment[da]=Optag lyd via mikrofonen og afspil den
Comment[de]=Ton mit dem Mikrofon aufnehmen und wiedergeben
Comment[el]=Εγγραφή ήχου μέσα από το μικρόφωνο και αναπαραγωγή του
Comment[en_GB]=Record sound via the microphone and play it back
Comment[eo]=Registri per la mikrofono kaj legi la sonregistradon
Comment[es]=Grabar sonido con el micrófono y reproducirlo
Comment[eu]=Grabatu soinua mikrofonoarekin eta erreproduzitu.
Comment[fa]=ضبط صدا از طریق میکروفون و پخش آن
Comment[fi]=Tallenna ääntä mikrofonilta ja toista tallenteita
Comment[fr]=Enregistrer le son avec un microphone et le restituer
Comment[fur]=Regjistre suns cul microfon e ju riprodûs
Comment[gl]=Grava son co micrófono e reprodúceo
Comment[he]=להקליט קול באמצעות המיקרופון ולנגן שוב
Comment[hr]=Snimi zvuk putem mikrofona i reproduciraj ga natrag
Comment[hu]=Hangfelvétel a mikrofonból és lejátszás
Comment[id]=Rekam suara melalui mikrofon dan putar ulang
Comment[is]=Taktu upp hljóð í gegnum hljóðnema og spilaðu það svo aftur
Comment[it]=Registra i suoni tramite il microfono e li riproduce
Comment[ja]=マイクからの音声を録音し、再生します
Comment[kk]=Дыбыстарды микрофон көмегімен жазып алып, оларды ойнату
Comment[ko]=마이크로 소리를 녹음하고 재생합니다
Comment[lt]=Įrašykite garsą mikrofonu ir jį grokite
Comment[lv]=Ierakstiet skaņu caur mikrofonu un to atskaņojiet
Comment[mjw]=Aseh microphone pen nep si rot thu
Comment[ml]=മൈക്രോഫോൺ വഴി ശബ്ദം ശേഖരിച്ചിട്ട് കേൾക്കുക
Comment[ms]=Rakam bunyi melalui mikrofon dan mainkannya kembali
Comment[nb]=Ta opp lyd via mikrofonen og spill dem av
Comment[ne]=माइक्रोफोन मार्फत रेकर्ड गर्नुहोस् र यसलाई बजाउनुहोस्
Comment[nl]=Geluid via de microfoon opnemen en het afspelen
Comment[oc]=Enregistrar lo son amb un microfòn e lo restituir
Comment[pa]=ਮਾਈਕਰੋਫੋਨ ਰਾਹੀਂ ਆਵਾਜ਼ ਰਿਕਾਰਡ ਕਰੋ ਅਤੇ ਇਸ ਨੂੰ ਵਾਪਿਸ ਚਲਾਓ
Comment[pl]=Nagrywanie dźwięku przez mikrofon i jego odtwarzanie
Comment[pt]=Grave som com o microfone e reproduza-o
Comment[pt_BR]=Grave som por meio de microfone e reproduza-o
Comment[ro]=Înregistrează sunet prin intermediul microfonului și îl redă
Comment[ru]=Запись звука с помощью микрофона и последующее его воспроизведение
Comment[sk]=Nahráva zvuk z mikrofónu a prehráva cez reproduktor
Comment[sl]=Snemanje zvoka z mikrofonom in predvajanje posnetkov
Comment[sr]=Снимајте звук путем микрофона и пуштајте га након тога
Comment[sr@latin]=Snimajte zvuk putem mikrofona i puštajte ga nakon toga
Comment[sv]=Spela in ljud via mikrofonen och spela upp det
Comment[te]=మైక్రోఫోను ద్వారా శబ్దాన్ని నమోదించి, ఆడించండి
Comment[tr]=Mikrofon aracılığıyla ses kaydedin ve tekrar oynatın
Comment[uk]=Записати звук через мікрофон і програти його
Comment[vi]=Thu âm thông qua micrô rồi phát lại nó
Comment[zh_CN]=通过麦克风录制声音并播放
Comment[zh_HK]=透過麥克風錄音並回播
Comment[zh_TW]=透過麥克風錄音並回播
Comment=Record sound via the microphone and play it back
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/gnome-soundrecorder.png
Categories=GNOME;GTK;Audio;AudioVideo;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Klank;Toepassing;Opneem;
Keywords[ar]=صوت;تسجيل;مسجل;
Keywords[an]=son;aplicación;gravar;
Keywords[as]=অডিঅ';এপ্লিকেচন;ৰেকৰ্ড;
Keywords[be]=Аўдыа;Дастасаванне;Запіс;
Keywords[bs]=Zvuk;Aplikacija;Snimaj;
Keywords[ca]=àudio;aplicació;enregistrament;
Keywords[ca@valencia]=àudio;aplicació;gravació	;
Keywords[ckb]=دەنگ;داوانامە;تۆمارکردن;
Keywords[cs]=audio;aplikace;nahrávání;nahrávka;záznam;
Keywords[da]=Lyd;Program;Optag;Optagelse;Optage;
Keywords[de]=Audio;Anwendung;Aufnahme;Ton;Aufzeichnung;
Keywords[el]=Ήχος;Εφαρμογή;Εγγραφή;Audio;Application;Record;
Keywords[en_GB]=Audio;Application;Record;
Keywords[eo]=Sono;Aplikaĵo;Registri;
Keywords[es]=sonido;aplicación;grabar;
Keywords[eu]=Audioa;Aplikazioa;Grabaketa;
Keywords[fa]=Audio;Application;Record;صوت;برنامه;ضبط;
Keywords[fi]=Audio;Application;Record;ääni;sovellus;nauhuri;nauhoitin;
Keywords[fr]=audio;application;enregistrer;son;
Keywords[fur]=Audio;Aplicazion;Regjistrazion;
Keywords[gl]=Son;Aplicación;Gravar;
Keywords[he]=שמע;אודיו;יישום;הקלטה;
Keywords[hr]=Zvuk;Aplikacija;Snimi;
Keywords[hu]=audio;hang;felvétel;rögzítés;mikrofon;
Keywords[id]=Audio;Aplikasi;Rekam;
Keywords[is]=Hljóð;Forrit;Upptaka;Hljóðupptaka
Keywords[it]=Audio;Applicazione;Registra;
Keywords[ja]=Audio;Application;Record;オーディオ;音声;アプリケーション;録音;soundrecorder;
Keywords[kk]=Audio;Application;Record;Аудио;Қолданба;Жазба;
Keywords[ko]=Audio;오디오;음성;Application;프로그램;Record;녹음;레코딩;
Keywords[lt]=Garsas;Programa;Įrašyti;
Keywords[lv]=Audio;Lietotne;Ierakstīšana;
Keywords[mjw]=Audio;Application;Record;
Keywords[ml]=Audio;Application;Record;
Keywords[ms]=Audio;Aplikasi;Rakam;
Keywords[nb]=Lyd;Program;Opptak;
Keywords[ne]=ध्वनि;अनुप्रयोग;रकर्ड;
Keywords[nl]=Audio;Application;Toepassing;Record;Opnemen;Geluidsopname;Memo;
Keywords[oc]=àudio;aplicacion;enregistrar;son;
Keywords[pa]=ਆਡੀਓ;ਐਪਲੀਕੇਸ਼ਨ;ਰਿਕਾਰਡ;Audio;Application;Record;
Keywords[pl]=Dźwięk;Audio;Nagrywanie;Nagraj;Record;
Keywords[pt]=Áudio;Aplicação;Gravador;Sons;Som;
Keywords[pt_BR]=Áudio;Aplicativo;Gravador;Sons;Som;
Keywords[ro]=Audio;Application;Record;Înregistrare;
Keywords[ru]=Аудио;Звук;Приложение;Запись;
Keywords[sk]=Audio;Zvuk;Application;Aplikácia;Record;Nahrávanie;
Keywords[sl]=Zvok;Program;Snemaj;
Keywords[sr]=звук;програм;снимање;Audio;Application;Record;zvuk;program;snimanje;
Keywords[sr@latin]=zvuk;program;snimanje;
Keywords[sv]=Ljud;Program;Inspelning;
Keywords[te]=శబ్దం;అనువర్తనం;నమోదించు;
Keywords[tg]=Аудио;Барнома;Сабт;
Keywords[tr]=Ses;Uygulama;Kayıt;
Keywords[uk]=Звук;Програма;Запис;
Keywords[vi]=Audio;Âm;thanh;am;Application;Record;ghi;thu;
Keywords[zh_CN]=Audio;Application;Record;音频;应用程序;录音;
Keywords[zh_HK]=Audio;Application;Record;音訊;錄音;錄製;應用程式;
Keywords[zh_TW]=Audio;Application;Record;音訊;錄音;錄製;應用程式;
Keywords=Audio;Application;Record;
Exec=gnome-sound-recorder
StartupNotify=true

