[Desktop Entry]
Name[af]=Knibbels
Name[ar]=نبلس
Name[as]=Nibbles
Name[ast]=Nibbles
Name[az]=Dişdəklər
Name[be]=Nibbles
Name[bg]=Змия
Name[bn]=Nibbles
Name[bn_IN]=নিবল্‌স
Name[bs]=Nibbles
Name[ca]=Nibbles
Name[ca@valencia]=Nibbles
Name[cs]=Červíci
Name[cy]=Nibbles
Name[da]=Orme
Name[de]=Nibbles
Name[dz]=ནིབ་བཱལསི།
Name[el]=Μπουκιές
Name[en_CA]=Nibbles
Name[en_GB]=Nibbles
Name[en@shaw]=·𐑯𐑦𐑚𐑩𐑤𐑟
Name[eo]=Ronĝaj Vermoj
Name[es]=Nibbles
Name[et]=Ussimäng
Name[eu]=Nibbles
Name[fa]=نیبلز
Name[fi]=Nibbles
Name[fr]=Nibbles
Name[fur]=Nibbles
Name[ga]=Nibbles
Name[gl]=Nibbles
Name[gu]=નાના કોળીયા ભરો
Name[he]=כרסומים
Name[hi]=निब्बल्स
Name[hr]=Zmije
Name[hu]=Kukacok
Name[id]=Nibbles
Name[is]=Nibbles
Name[it]=Nibbles
Name[ja]=Nibbles
Name[kk]=Құрттар ойыны
Name[km]=Nibbles
Name[kn]=ನಿಬಲ್ಸ್
Name[ko]=니블즈
Name[lt]=Nibbles
Name[lv]=Nibbles
Name[mai]=निब्बल्स
Name[mk]=Nibbles
Name[ml]=നിബിള്‍സ്
Name[mn]=Газарч
Name[mr]=निबल्स्
Name[ms]=Gigitan
Name[nb]=Nibbles
Name[ne]=निब्बल
Name[nl]=Nibbles
Name[nn]=Nibbles
Name[oc]=Nibbles
Name[or]=ନିବ୍ଲସ
Name[pa]=ਨਿਬਲਜ਼
Name[pl]=Robaki
Name[pt]=Nibbles
Name[pt_BR]=Nibbles
Name[ro]=Nibbles
Name[ru]=Червячок
Name[sk]=Nibbles
Name[sl]=Črvi
Name[sq]=Kafshatat e vogla
Name[sr]=Змичек
Name[sr@latin]=Zmiček
Name[sv]=Nibbles
Name[ta]=நிபில்ஸ்
Name[te]=నిబ్బల్స్
Name[th]=หนอนแทะ
Name[tr]=Nibbles
Name[ug]=Nibbles
Name[uk]=Хробак
Name[vi]=Nibbles
Name[wa]=Nibbles
Name[xh]=I-Nibbles
Name[zh_CN]=贪食蛇
Name[zh_HK]=貪食蛇
Name[zh_TW]=貪食蛇
Name=Nibbles
Comment[af]=Lei 'n wurm deur 'n doolhof
Comment[ar]=وجه دودة في متاهة
Comment[as]=একটি কেঁচুক চক্ৰবেহুত পথ দেখাওক
Comment[ast]=Guía a un merucu a traviés d'un llaberintu
Comment[az]=Soxulcanı labirintdə idarə edin
Comment[be]=Правядзіце чарвячка па лабірынце
Comment[bg]=Управляване на змия през лабиринт
Comment[bn]=একটি পোকাকে গোলকধাঁধাঁয় চালান
Comment[bn_IN]=একটি পোকাকে গোলকধাঁধাঁয় চালান
Comment[bs]=Vodi crva kroz lavirint
Comment[ca]=Guieu un cuc per un laberint
Comment[ca@valencia]=Guieu un cuc per un laberint
Comment[cs]=Proveďte červíka bludištěm
Comment[cy]=Arwain mwydyn drwy ddrysfa
Comment[da]=Styr en orm rundt i en labyrint
Comment[de]=Einen Wurm in einem Labyrinth herumführen
Comment[dz]=གཅོང་འབུཔ་ཅིག་ གེ་ཛའི་མཐའ་སྐོར་ཏེ་འཁྱིད།
Comment[el]=Οδηγήστε το σκουλήκι μέσα σε έναν λαβύρινθο
Comment[en_CA]=Guide a worm around a maze
Comment[en_GB]=Guide a worm around a maze
Comment[en@shaw]=𐑜𐑲𐑛 𐑩 𐑢𐑻𐑥 𐑼𐑬𐑯𐑛 𐑩 𐑥𐑱𐑟
Comment[eo]=Gvidu vermon tra labirinto
Comment[es]=Guíe a un gusano por un laberinto
Comment[et]=Ussi juhtimine läbi labürindi
Comment[eu]=Gidatu harra labirintoan zehar
Comment[fa]=کِرم را اطراف هزارتو راهنمایی کنید
Comment[fi]=Ohjaa matoa sokkelossa ympäriinsä
Comment[fr]=Guider un ver à travers un labyrinthe
Comment[fur]=Guide un vier ator par un labirint
Comment[gl]=Guíe un verme arredor dun labirinto
Comment[gu]=ભૂલભૂલામણામાંથી કીડાને દોરો
Comment[he]=הדרכת תולעת במבוך
Comment[hi]=भूल भुलैया में इल्ली को रास्ता दिखाएँ
Comment[hr]=Upravljajte i vodite crve po labirintu
Comment[hu]=Kukac irányítása egy labirintusban
Comment[id]=Pandu seekor cacing dalam labirin
Comment[is]=Hreyfðu orminn í gegnum völundarhúsið
Comment[it]=Guida un verme in giro per un labirinto
Comment[ja]=迷路をさまよう虫を導いてください
Comment[kk]=Құртты лабиринт ішінде бағыттаңыз
Comment[km]=Guide a worm ជុំវិញ​រូប​ដង្កូវ
Comment[kn]=ಒಂದು ಹುಳುವನ್ನು ಚಕ್ರವ್ಯೂಹದಲ್ಲಿ ನಡೆಯಲು ದಾರಿ ತೋರಿಸಿ
Comment[ko]=벌레를 조종해 미로를 통과합니다
Comment[lt]=Praveskite kirmėlę pro labirintą
Comment[lv]=Vadi tārpu pa labirintu
Comment[mai]=भूल भुलैयामे इल्लीकेँ रास्ता देखाबू
Comment[mk]=Водете го црвот низ лавиринт
Comment[ml]=ദുര്‍ഘടമാര്‍ഗ്ഗത്തിലൂടെയുള്ള യാത്രയില്‍ പുഴുവിനെ വഴികാട്ടുക 
Comment[mn]=Төөрдөг хашаанд өтийг газарчил
Comment[mr]=व्युहातून अळीला रस्ता दर्शवा
Comment[ms]=Pandu seekor cacing mengharungi sebuah pagar sesat
Comment[nb]=Led en orm rundt i en labyrint
Comment[ne]=कीरालाई मेजको वरिपरि मार्गनिर्देश गर्नुहोस्
Comment[nl]=Een worm door een doolhof leiden
Comment[nn]=Styr ein orm rundt ein labyrint
Comment[oc]=Guidar un vèrme a travèrs un laberint
Comment[or]=ଗୋଟିଏ କୀଟକୁ ଏକ ମକାକ୍ଷେତର ଚାରିପଟେ ପଥପ୍ରଦର୍ଶନ କର
Comment[pa]=ਗੁੰਝਲ ਦੁਆਲੇ ਕੀੜੇ ਨੂੰ ਰਾਹ ਵਿਖਾਓ
Comment[pl]=Przeprowadzanie robaka przez labirynt
Comment[pt]=Guie uma minhoca através de um labirinto
Comment[pt_BR]=Guie uma minhoca por um labirinto
Comment[ro]=Ghidează o râmă printr-un labirint
Comment[ru]=Управляйте растущим прожорливым червячком в лабиринте
Comment[sk]=Ovládajte červíka v bludisku
Comment[sl]=Vodenje črva po labirintu
Comment[sq]=Drejto një krimb në një labirint
Comment[sr]=Водите црвића кроз лавиринт
Comment[sr@latin]=Vodite crvića kroz lavirint
Comment[sv]=Hjälp en mask runt i en labyrint
Comment[ta]=சிக்கல் அறையில் புழுவுக்கு வழிகாட்டவும்
Comment[te]=మేజ్ చుట్టూ వామ్‌కు మార్గదర్శనం చేయుము
Comment[th]=พาหนอนคลานในเขาวงกต
Comment[tr]=Solucanı engellerin çevresinden geçirin
Comment[ug]=سىرلىق ئوردىدا قۇرتنى باشلاڭ
Comment[uk]=Провести хробака лабіринтом
Comment[vi]=Hướng dẫn con giun qua cung mê
Comment[xh]=Khokela umbungu kwiindlela eziphitheneyo
Comment[zh_CN]=小蛇游走于迷宫
Comment[zh_HK]=引導不斷移動的小蟲蟲避開畫面的障礙物
Comment[zh_TW]=引導不斷移動的小蟲蟲避開畫面的障礙物
Comment=Guide a worm around a maze
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[as]=game;snake;board;
Keywords[be]=гульня;змейка;змяя;настольная гульня;
Keywords[bg]=червей;червеи;змия;змии;game;snake;board;
Keywords[bs]=igre;zmije;odbor;
Keywords[ca]=joc;serp;tauler;
Keywords[ca@valencia]=joc;serp;tauler;
Keywords[cs]=hra;had;desková;stolní;
Keywords[da]=spil;slanger;orme;orm;bræt;
Keywords[de]=Spiel;Snake;Brettspiel;
Keywords[el]=παιχνίδι;φίδι;πίνακας;game;snake;board;
Keywords[en_GB]=game;snake;board;
Keywords[eo]=ludo;vermo;tabulo;
Keywords[es]=juego;serpiente;tablero;
Keywords[et]=mäng;uss;lauamäng;
Keywords[eu]=jokoa;sugea;mahai-jokoa;
Keywords[fa]=game;snake;board;بازی;مار;تخته;
Keywords[fi]=game;snake;board;mato;peli;lauta;
Keywords[fr]=jeu;serpent;plateau;
Keywords[fur]=zûc;zûcs;sarpint;snake;board;taule;vier;
Keywords[gl]=xogo;serpe;taboleiro;
Keywords[he]=משחק;נחש;תולעת;לוח;מבוך;
Keywords[hi]=game;snake;board;
Keywords[hr]=igra;zmija;ploča;
Keywords[hu]=játék;kígyó;tábla;
Keywords[id]=permainan;ular;papan;
Keywords[it]=gioco;giochi;serpente;snake;board;tavola;
Keywords[ja]=game;snake;board;ゲーム;スネーク;ヘビ;へび;ボード;
Keywords[kk]=game;snake;board;ойын;құрт;тақта;
Keywords[ko]=game;게임;snake;스네이크;board;보드;
Keywords[lt]=žaidimas;gyvatė;lenta;
Keywords[lv]=spēle;čūska;galdiņš;
Keywords[ml]=game;snake;board;
Keywords[ms]=permainan;ular;papan;
Keywords[nb]=spill;orm;brett;
Keywords[nl]=game;snake;board;spel;slang;bord;
Keywords[oc]=jòc;sèrp;platèu;
Keywords[pl]=gra;gierka;wąż;snake;snejk;planszowa;plansza;
Keywords[pt]=jogo;cobra;tabuleiro;
Keywords[pt_BR]=jogo;snake;cobra;minhoca;tabuleiro;
Keywords[ro]=game;snake;board;joc;șarpe;tablă;
Keywords[ru]=игра;змейка;настольная;
Keywords[sk]=hra;had;stolová;
Keywords[sl]=igra;kača;kače;črvi;krvtabla;plošča;
Keywords[sr]=игра;змија;табла;
Keywords[sr@latin]=igra;zmija;tabla;
Keywords[sv]=spel;brädspel;snake;masken;
Keywords[ta]=விளையாட்டு;பாம்பு;பலகை;
Keywords[tr]=oyun;yılan;tahta;
Keywords[ug]=game;snake;board;ئويۇن;تاختا;
Keywords[uk]=гра;змійка;настільний;
Keywords[zh_CN]=游戏;贪吃蛇;蛇;棋;牌;
Keywords[zh_HK]=game;snake;board;遊戲;貪食蛇;桌面遊戲;
Keywords[zh_TW]=game;snake;board;遊戲;貪食蛇;桌面遊戲;
Keywords=game;snake;board;
Exec=gnome-nibbles
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/gnome-nibbles.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;ArcadeGame;
StartupNotify=true
