[Desktop Entry]
NoDisplay=true
Version=1.0
Name=Pamac
Comment=Package Manager
Exec=gksu dbus-launch pamac-manager %f
Icon=/usr/share/icons/pamac-manager.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true
MimeType=application;
