[Desktop Entry]
Version=1.0
Name=XiaoMiTool V2
Exec=/usr/bin/xiaomitool %U
StartupNotify=true
Terminal=false
Icon=/usr/share/icons/xiaomi.png
Type=Application
Categories=Development;Utility;
