[Desktop Entry]
NoDisplay=true
Name[af]=Skaak
Name[ar]=شطرنج
Name[as]=Chess
Name[ast]=Chess
Name[be]=Шахматы
Name[bg]=Шах
Name[bn]=দাবা
Name[bn_IN]=দাবা
Name[br]=Echedoù
Name[bs]=Šah
Name[ca]=Escacs
Name[ca@valencia]=Escacs
Name[cs]=Šachy
Name[cy]=Gwyddbwyll
Name[da]=Skak
Name[de]=Schach
Name[dz]=ཅེསི་
Name[el]=Σκάκι
Name[en_CA]=Chess
Name[en_GB]=Chess
Name[en@shaw]=𐑗𐑧𐑕
Name[eo]=Ŝako
Name[es]=Ajedrez
Name[et]=Male
Name[eu]=Xakea
Name[fa]=شطرنج
Name[fi]=Šakki
Name[fr]=Jeu d’échecs
Name[fur]=Scacs
Name[ga]=Ficheall
Name[gl]=Xadrez
Name[gu]=શતરંજ
Name[he]=שחמט
Name[hi]=शतरंज
Name[hr]=Šah
Name[hu]=Sakk
Name[id]=Catur
Name[it]=Scacchi
Name[ja]=チェス
Name[kk]=Шахмат
Name[km]=អុក
Name[kn]=ಚೆಸ್
Name[ko]=체스
Name[lt]=Šachmatai
Name[lv]=Šahs
Name[mai]=सतरंज
Name[mk]=Шах
Name[ml]=ചെസ്സ്
Name[mr]=बुध्दिबळ
Name[ms]=Catur
Name[nb]=Sjakk
Name[ne]=बुद्धिचाल
Name[nl]=Schaken
Name[nn]=Sjakk
Name[oc]=Jòc d'escacs
Name[or]=ଚେସ
Name[pa]=ਸ਼ਤਰੰਜ
Name[pl]=Szachy
Name[pt]=Xadrez
Name[pt_BR]=Xadrez
Name[ro]=Șah
Name[ru]=Шахматы
Name[si]=චෙස්
Name[sk]=Šach
Name[sl]=Šah
Name[sr]=Шах
Name[sr@latin]=Šah
Name[sv]=Schack
Name[ta]=சதுரங்கம்
Name[te]=చదరంగం
Name[tg]=Шоҳмот
Name[th]=หมากรุก
Name[tr]=Satranç
Name[ug]=شاھمات
Name[uk]=Шахи
Name[vi]=Cờ
Name[zh_CN]=国际象棋
Name[zh_HK]=國際象棋
Name[zh_TW]=國際象棋
Name=Chess
GenericName[be]=Гульня ў шахматы
GenericName[bg]=Игра на шах
GenericName[ca]=Joc d'escacs
GenericName[ca@valencia]=Joc d'escacs
GenericName[cs]=Šachová hra
GenericName[da]=Skakspil
GenericName[de]=Schachspiel
GenericName[el]=Σκάκι
GenericName[en_GB]=Chess Game
GenericName[eo]=Ŝakludo
GenericName[es]=Juego de ajedrez
GenericName[eu]=Xake-jokoa
GenericName[fa]=بازی شطرنج
GenericName[fi]=Šakkipeli
GenericName[fr]=Jeu d’échecs
GenericName[fur]=Zûc di scacs
GenericName[gl]=Xogo de xadrez
GenericName[he]=משחק שחמט
GenericName[hr]=Šahovska igra
GenericName[hu]=Sakkjáték
GenericName[id]=Permainan Catur
GenericName[it]=Gioco di scacchi
GenericName[ja]=チェスゲーム
GenericName[kk]=Шахмат ойыны
GenericName[ko]=체스 게임
GenericName[lt]=Šachmatų žaidimas
GenericName[lv]=Šaha spēle
GenericName[ml]=ചെസ്സ് കളി
GenericName[ms]=Permainan Catur
GenericName[nb]=Sjakkspill
GenericName[ne]=बुद्धिचाल खेल
GenericName[nl]=Schaakspel
GenericName[pl]=Szachy
GenericName[pt]=Jogo de xadrez
GenericName[pt_BR]=Jogo de xadrez
GenericName[ro]=Joc de șah
GenericName[ru]=Игра в шахматы
GenericName[sk]=Šachová hra
GenericName[sl]=Šah
GenericName[sr]=Шаховска игра
GenericName[sr@latin]=Šahovska igra
GenericName[sv]=Schackspel
GenericName[tr]=Satranç Oyunu
GenericName[uk]=Гра в шахи
GenericName[vi]=Chơi cờ
GenericName[zh_CN]=国际象棋游戏
GenericName[zh_TW]=國際象棋遊戲
GenericName=Chess Game
Comment[be]=Класічная настольная гульня ў шахматы для двух гульцоў
Comment[bg]=Класическата игра на шах за двама
Comment[bs]=Igraj klasičnu igru šaha sa dva igrača
Comment[ca]=Jugueu al clàssic joc dels escacs entre dues persones
Comment[ca@valencia]=Jugueu al clàssic joc dels escacs entre dues persones
Comment[cs]=Hrát klasickou šachovou hru pro dva hráče
Comment[da]=Spil det klassiske brætspil skak med to spillere
Comment[de]=Das klassische 2-Spieler-Brettspiel Schach spielen
Comment[el]=Παίξτε το κλασικό επιτραπέζιο σκάκι με δύο παίχτες
Comment[en_GB]=Play the classic two-player board game of chess
Comment[eo]=Ludi la klasikan du-lundantan tabulludon ŝakon
Comment[es]=Juegue una partida clásica de ajedrez de dos jugadores
Comment[eu]=Jokatu bi jokalarirentzako xake-taula klasikoan
Comment[fa]=بازی کلاسیک دونفرهٔ شطرنج
Comment[fi]=Pelaa šakkia, klassista kahden pelaajan lautapeliä
Comment[fr]=Jouer au jeu d’échecs classique à deux joueurs
Comment[fur]=Zuie al classic zûc dai scacs
Comment[gl]=Xogar unha partida clásica de xadrez de dous xogadores
Comment[he]=שחמט - משחק לוח קלסי לשני שחקנים
Comment[hr]=Igrajte klasičnu šahovsku igru u dvoje na ploči
Comment[hu]=A klasszikus kétszemélyes sakk játék
Comment[id]=Mainkan permainan papan catur klasik dengan dua pemain
Comment[it]=Gioca al classico gioco degli scacchi
Comment[ja]=二人のプレイヤーで対戦型のチェスゲームをお楽しみください
Comment[ko]=전통적인 2인 체스 보드 게임을 플레이합니다
Comment[lt]=Žaisti klasikinius dviejų žaidėjų šachmatus
Comment[lv]=Spēlēt klasisko divu spēlētāju šaha spēli
Comment[ml]=രണ്ടു പേര്‍ക്ക് കളിക്കാവുന്ന ക്ലാസ്സിക്‌ ചെസ്സ്‌ കളി കളിക്കൂ
Comment[ms]=Main permainan papan catur klasik untuk dua-pemain
Comment[nb]=Spill det klassiske tomannsbrettspillet sjakk
Comment[ne]=बुद्धिचाल पुरानो दुइ खेलाडीको बोर्ड खेल खेल्नुहोस्
Comment[nl]=Het klassieke schaakspel voor twee spelers spelen
Comment[oc]=Jogar al jòc d'escacs classic de dos jogaires
Comment[pa]=ਸਤਰੰਜ਼ ਦੀ ਦੋ ਖਿਡਾਰੀਆਂ ਵਾਲੀ ਕਲਾਸੀਕਲ ਖੇਡ ਖੇਡੋ
Comment[pl]=Klasyczne szachy dla dwóch graczy
Comment[pt]=Jogar o claśsico jogo de tabuleiro de xadrez para duas pessoas
Comment[pt_BR]=Jogue o clássico jogo de tabuleiro de xadrez para dois jogadores
Comment[ro]=Joacă clasicul joc de șah de doi jucători
Comment[ru]=Сыграть в классические шахматы
Comment[sk]=Hrajte klasický stolný šach pre dvoch hráčov
Comment[sl]=Igranje običajne partije šaha
Comment[sr]=Играјте класичну шаховску игру на табли са два играча
Comment[sr@latin]=Igrajte klasičnu šahovsku igru na tabli sa dva igrača
Comment[sv]=Spela schack, det klassiska brädspelet för två spelare
Comment[tr]=Klasik iki oyunculu satranç oyununu oynayın
Comment[uk]=Зіграти у класичні шахи (дошка на два гравці)
Comment[vi]=Chơi cờ hai người truyền thống
Comment[zh_CN]=经典的两人国际象棋对弈
Comment[zh_HK]=玩傳統的雙人國際象棋遊戲
Comment[zh_TW]=玩傳統的雙人國際象棋遊戲
Comment=Play the classic two-player board game of chess
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=speletjie;strategie;logika;
Keywords[be]=гульня;стратэгія;
Keywords[bg]=игра;стратегия;шах;мат;game;strategy;
Keywords[bs]=igra;strategija;
Keywords[ca]=joc;partida;estratègia;
Keywords[ca@valencia]=joc;partida;estratègia;
Keywords[cs]=hra;strategická;
Keywords[da]=spil;strategi;
Keywords[de]=Spiel;Strategie;
Keywords[el]=παιχνίδι;στρατηγική;game;strategy;
Keywords[en_GB]=game;strategy;
Keywords[eo]=ludo;strategio;
Keywords[es]=juego;estrategia;
Keywords[et]=mäng;strateegia;
Keywords[eu]=jokoa;estrategia;
Keywords[fa]=بازی;استراتژی;
Keywords[fi]=game;strategy;peli;strategia;
Keywords[fr]=jeu;stratégie;
Keywords[fur]=zûc;strategjie;
Keywords[gl]=xogo;estratexia;
Keywords[he]=משחק;אסטרטגיה;
Keywords[hi]=game;strategy;
Keywords[hr]=igra;strategija;
Keywords[hu]=játék;stratégia;
Keywords[id]=permainan;strategi;
Keywords[it]=gioco;giochi;strategia;
Keywords[ja]=game;strategy;ゲーム;戦略;
Keywords[kk]=ойын;стратегия;
Keywords[ko]=game;게임;strategy;전략;
Keywords[lt]=žaidimas;strategija;
Keywords[lv]=spēle;stratēģija;
Keywords[ml]=game;strategy;
Keywords[ms]=permainan;strategi;
Keywords[nb]=spill;strategi;
Keywords[ne]=खेल;रणनीति;
Keywords[nl]=spel;strategie;schaakpartij;
Keywords[oc]=jòc;estrategia;
Keywords[pa]=ਖੇਡ;ਕਾਰਜਨੀਤੀ;
Keywords[pl]=gra;gierka;strategiczna;strategia;
Keywords[pt]=jogo;estratégia;
Keywords[pt_BR]=game;jogo;estratégia;
Keywords[ro]=game;strategy;joc;strategie;
Keywords[ru]=игра;стратегия;
Keywords[sk]=hra;strategická;stratégia;šach;
Keywords[sl]=igra;strategija;tabla;figure;
Keywords[sr]=игра;стратегија;
Keywords[sr@latin]=igra;strategija;
Keywords[sv]=spel;strategi;
Keywords[ta]=விளையாட்டு;திட்டம்;
Keywords[tr]=oyun;strateji;
Keywords[ug]=game;strategy;ئويۇن;تەدبىر‏;
Keywords[uk]=гра;стратегія;
Keywords[vi]=game;cờ;vua;co;strategy;chiến;lược;chien;luoc;
Keywords[zh_CN]=game;strategy;游戏;策略;棋;
Keywords[zh_HK]=game;strategy;遊戲;策略;
Keywords[zh_TW]=game;strategy;遊戲;策略;
Keywords=game;strategy;
Version=1.0
Exec=gnome-chess
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BoardGame;
StartupNotify=true
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/gnome-chess.png
MimeType=application/x-chess-pgn;
