[Desktop Entry]
NoDisplay=true
Name[af]=Sudoku
Name[ar]=سودوكو
Name[as]=Sudoku
Name[ast]=Sudoku
Name[be]=Судоку
Name[bg]=Судоку
Name[bn]=সুডোকু
Name[bn_IN]=সুডোকু
Name[br]=Sudoku
Name[bs]=Sudoku
Name[ca]=Sudoku
Name[ca@valencia]=Sudoku
Name[cs]=Sudoku
Name[cy]=Sudoku
Name[da]=Sudoku
Name[de]=Sudoku
Name[dz]=སུ་ཌོ་ཀུ་
Name[el]=Σουντόκου
Name[en_CA]=Sudoku
Name[en_GB]=Sudoku
Name[eo]=Sudoko
Name[es]=Sudoku
Name[et]=Sudoku
Name[eu]=Sudoku
Name[fa]=سودوکو
Name[fi]=Sudoku
Name[fr]=Sudoku
Name[fur]=Sudoku
Name[ga]=Sudoku
Name[gl]=Sudoku
Name[gu]=સુડોકુ
Name[he]=סודוקו
Name[hi]=सोडोकु
Name[hr]=Sudoku
Name[hu]=Sudoku
Name[id]=Sudoku
Name[is]=Sudoku
Name[it]=Sudoku
Name[ja]=GNOME 数独
Name[kk]=Судоку
Name[km]=Sudoku
Name[kn]=ಸುಡೊಕು
Name[ko]=스도쿠
Name[lo]=ສູໂດກຸ
Name[lt]=Sudoku
Name[lv]=Sudoku
Name[mai]=सुडोकु
Name[mk]=Sudoku
Name[ml]=സുഡോക്കു
Name[mr]=सुडोकू
Name[ms]=Sudoku
Name[nb]=Sudoku
Name[ne]=सुडोकु
Name[nl]=Sudoku
Name[nn]=Sudoku
Name[oc]=Sudoku
Name[or]=ସୁଡୋକୁ
Name[pa]=Sudoku
Name[pl]=Sudoku
Name[pt]=Sudoku
Name[pt_BR]=Sudoku
Name[ro]=Sudoku
Name[ru]=Судоку
Name[sk]=Sudoku
Name[sl]=Sudoku
Name[sr]=Гном Судоку
Name[sr@latin]=Gnom Sudoku
Name[sv]=Sudoku
Name[ta]=சுடோகு
Name[te]=సుడోకు
Name[th]=ซูโดกุ
Name[tr]=Sudoku
Name[ug]=سۇدوكۇ
Name[uk]=Судоку
Name[vi]=Sudoku
Name[zh_CN]=数独
Name[zh_HK]=數獨
Name[zh_TW]=數獨
Name=Sudoku
Comment[af]=Toets logikavaardighede in hierdie syferroosterraaisel
Comment[ar]=اختبر مهاراتك المنطقية في هذه الأحجية الشبكية المنطقية
Comment[as]=পৰীক্ষা
Comment[ast]=Pon a prueba les tos habilidaes de llóxica nesti xuegu de rexáu numbéricu
Comment[be]=Праверце сваё лагічнае мышленне на гэтай лічбавай галаваломцы
Comment[bg]=Пробвайте логическите си умения в тази игра с числа
Comment[bn]=এই গ্রিড ধাঁধায় আপনার লজিক স্কিল পরীক্ষা করুন
Comment[bs]=Oprobajte vaše logičke sposobnosti u ovoj slagalici mreže brojeva
Comment[ca]=Posa a prova les teves habilitats lògiques en aquesta graella de trencaclosques numèrica
Comment[ca@valencia]=Posa a prova les teves habilitats lògiques en esta graella de trencaclosques numèrica
Comment[cs]=Otestujte své logické schopnosti v tomto hlavolamu
Comment[da]=Afprøv dine logiske evner i denne talgitter-opgave
Comment[de]=Testen Sie Ihre Logik-Fähigkeiten bei diesem Zahlen-Kreuzworträtsel
Comment[dz]=ཁྱོད་རའི་ལོ་ཇིཀ་རིག་རྩལ་འདི་འ་ནི་ཨང་གི་གིརིཌི་སྒྲིག་རྩེད་ནང་བརྟག་ཞིབ་འབད
Comment[el]=Δοκιμάστε τη λογική σας σε αυτό το παιχνίδι με αριθμούς
Comment[en_CA]=Test your logic skills in this number grid puzzle
Comment[en_GB]=Test your logic skills in this number grid puzzle
Comment[en@shaw]=𐑑𐑧𐑕𐑑 𐑿𐑼 𐑤𐑭𐑡𐑦𐑒 𐑕𐑒𐑦𐑤𐑟 𐑦𐑯 𐑞𐑦𐑕 𐑯𐑳𐑥𐑚𐑼 𐑜𐑮𐑦𐑛 𐑐𐑳𐑟𐑩𐑤
Comment[eo]=Testu viajn logikajn kapablojn en ĉi tiu numerokrada puzlo
Comment[es]=Ponga a prueba sus habilidades de lógica en este puzle de rejilla numérica
Comment[et]=Loogikavõimeid proovile panev tabelmõistatuste lahendamine
Comment[eu]=Probatu zure logika-gaitasuna zenbaki-sare honetan
Comment[fa]=مهارت‌های منطقی خود را در این پازل شبکه‌ای بیازمایید
Comment[fi]=Testaa logiikkakykyjäsi numeroruudukkopelissä
Comment[fr]=Tester vos aptitudes en logique avec ce casse-tête de nombres en grille
Comment[fur]=Met in prove lis tôs capacitâts logjichis in chest puzzle a gridele numeriche
Comment[gl]=Probe as súas habilidades de lóxica neste quebracabezas numérico
Comment[gu]=આ નંબરની જાળી કોયડામાં તમારી તાર્કીક યુક્તિઓ ચકાસો
Comment[he]=בחינת ההיגיון שלך באמצעות משחק לוח מספרים זה
Comment[hi]=इस क्रम ग्रिड पजल में अपना तर्क स्किल जांचें
Comment[hr]=Testirajte svoje logičke sposobnosti u ovoj slagalici s brojevima
Comment[hu]=Tesztelje logikai képességeit ezzel a számrács-fejtörővel
Comment[id]=Uji kemampuan logika Anda dalam teka-teki ini
Comment[is]=Kannaðu rökleikni þína í þessari talnaþraut
Comment[it]=Metti alla prova le tue capacità logiche in questo puzzle a griglia numerica
Comment[ja]=あなたの思考能力を番号の付いたマス目のパズルでテストします
Comment[kk]=Сандық тормен осы ойжұмбақта логикалық зеректігіңізді тексеріңіз
Comment[km]=សាកល្បង​បែប​​ជំនាញ​នៅ​ក្នុង​ការ​ផ្គុំ​រូប​ក្រឡា​ចត្រង្គ​​នេះ
Comment[kn]=ಈ ಸಂಖ್ಯೆಯ ಚೌಕಗಳಲ್ಲಿ ನಿಮ್ಮ ತಾರ್ಕಿಕ ಬುದ್ಧಿಮತ್ತೆಯನ್ನು ಪರೀಕ್ಷಿಸಿ
Comment[ko]=이 숫자 퍼즐에서 논리력을 테스트해 보세요
Comment[lo]=ທົດສອບທັກສະໂລຈິກຂອງທ່ານໃນຈຳນວນຂອງ grid puzzle ນີ້
Comment[lt]=Išmėgink savo loginį mąstymą šioje skaičių dėlionėje
Comment[lv]=Pārbaudi savas loģikas iemaņas šajā skaitļu režģa mīklā
Comment[mk]=Тестирајте ги Вашите логички можности со оваа сложувалка
Comment[ml]=ഈ ഗ്രിഡ് പസ്സിലിലൂടെ നിങ്ങലുടെ സാമാന്യ ബുദ്ധി പരീക്ഷിക്കുക
Comment[mr]=क्रमांक ग्रीड कोडे मध्ये तुमची तर्क क्षमताची चाचणी करा
Comment[ms]=Uji kemahiran logik anda dengan teka-teki grid bernombor ini
Comment[nb]=Test dine logiske ferdigheter i dette nummerpuslespillet
Comment[ne]=यस नम्बर ग्रिड पजलमा तपाईँको क्षमता परीक्षण गर्नुहोस्
Comment[nl]=Stel uw logische denkvermogen op de proef met deze cijferpuzzel
Comment[nn]=Test dine logiske ferdigheter i dette nummerpuslespelet
Comment[oc]=Testar vòstras aptituds en logica amb aqueste copacap de nombres en grasilha
Comment[or]=ଏହି ସଂଖ୍ୟା ଗ୍ରୀଡ଼ ଗୋଲକଧନ୍ଦାରେ ଆପଣଙ୍କର ତାର୍କିକ ଜ୍ଞାନକୁ ପରୀକ୍ଷା କରନ୍ତୁ
Comment[pa]=ਇਹ ਨੰਬਰ ਗਰਿੱਡ ਬੁਝਾਰਤ ਨਾਲ ਆਪਣੀ ਲਾਜ਼ੀਕਲ ਮੁਹਾਰਤ ਟੈਸਟ ਕਰੋ।
Comment[pl]=Łamigłówka liczbowa sprawdzająca logiczne myślenie
Comment[pt]=Teste as suas capacidades lógicas neste jogo numérico
Comment[pt_BR]=Teste suas habilidades lógicas nesse jogo de grades numéricas
Comment[ro]=Testați-vă abilitățile de logică în acest puzzle grilă cu numere
Comment[ru]=Проверьте логические способности в этой головоломке расстановки чисел
Comment[sk]=Otestujte svoje logické myslenie na tejto mriežke s číslami
Comment[sl]=Preverite svoje logično razmišljanje z reševanjem mrežne uganke.
Comment[sr]=Опробајте ваше логичке способности у овој слагалици мреже бројева
Comment[sr@latin]=Oprobajte vaše logičke sposobnosti u ovoj slagalici mreže brojeva
Comment[sv]=Testa dina logiska färdigheter i det här sifferpusslet
Comment[ta]=உங்கள் தர்க்க திறமையை இந்த கட்ட புதிரில் சோதியுங்கள்
Comment[te]=ఈ సంఖ్యా గ్రిడ్ పజిల్ నందు మీ తార్కిక నైపుణ్యాలను పరిశీలించండి
Comment[th]=ทดสอบทักษะทางตรรกะของคุณกับปริศนาตารางตัวเลข
Comment[tr]=Bu rakam yerleştirme bulmacasında mantıksal yeteneklerinizi sınayın
Comment[ug]=رەقەملىك سېتكا تېپىشمىقىدا لوگىكىلىق ماھارىتىڭىزنى سىناڭ
Comment[uk]=Перевірте логічні здібності у цій числовій головоломці
Comment[vi]=Kiểm tra kỹ năng lôgic của bạn trong câu đố lưới con số
Comment[zh_CN]=通过这个数字格子解谜游戏测试您的逻辑能力
Comment[zh_HK]=透過這個數字格子題目來測試你的邏輯能力
Comment[zh_TW]=透過這個數字格子題目來測試您的邏輯能力
Comment=Test your logic skills in this number grid puzzle
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=магічны;квадрат;
Keywords[bg]=судоку;числа;цифри;квадрат;magic;square;
Keywords[bs]=magični;kvadrat;
Keywords[ca]=màgia;quadrat;
Keywords[ca@valencia]=màgia;quadrat;
Keywords[cs]=magický;čtverec;
Keywords[da]=magi;magisk;felt;kvadrat;
Keywords[de]=Magie;Quadrat;Sudoku;
Keywords[el]=μαγικό;τετράγωνο;magic;square;
Keywords[en_GB]=magic;square;
Keywords[eo]=magio;kvadrato;
Keywords[es]=magia;cuadrado;
Keywords[eu]=magikoa;karratua;
Keywords[fa]=magic;square;جادو;خانه;سودوکو;
Keywords[fi]=magic;square;numeroruudukko;
Keywords[fr]=magique;carré;
Keywords[fur]=magic;magjic;square;cuadrât;
Keywords[gl]=máxico;cadrado;
Keywords[he]=קסם;ריבוע;
Keywords[hr]=magija;kvadrat;
Keywords[hu]=bűvös;négyzet;
Keywords[id]=sulap;kotak;
Keywords[is]=töfrar;ferningur;
Keywords[it]=magic;magico;square;quadrato;
Keywords[kk]=magic;square;сиқырлы;шаршы;
Keywords[ko]=magic;square;
Keywords[lo]=magic;ຈະຕຸລັດ;
Keywords[lt]=magiškas;kvadratas;
Keywords[lv]=burvju;kvadrāts;
Keywords[ml]=മാജിക്ക്;സമചതുരം;
Keywords[ms]=magik;petak;
Keywords[nb]=magisk;rute;
Keywords[nl]=magie;vierkant;
Keywords[oc]=magic;carrat;
Keywords[pl]=magia;magiczne;kwadraty;
Keywords[pt]=magia;quadrado;
Keywords[pt_BR]=mágico;quadrado;
Keywords[ro]=magic;square;magie;pătrat;
Keywords[ru]=магический;квадрат;
Keywords[sk]=kúzlo;kúzelný;magický;štvorec;štvorček;
Keywords[sl]=magic;square;sudoku;mrežna igra;kvadrat;števila;mreža;plošča;tabla;ploščice;japonska;
Keywords[sr]=магија;чаролија;квадрат;
Keywords[sr@latin]=magija;čarolija;kvadrat;
Keywords[sv]=magisk;kvadrat;
Keywords[tr]=sihir;kare;
Keywords[uk]=магія;площа;
Keywords[vi]=magic;ma lực;ma luc;square;bàn vuông;ban vuong;
Keywords[zh_CN]=magic;square;方;魔;
Keywords[zh_TW]=magic;square;魔術;方塊;
Keywords=magic;square;
Exec=gnome-sudoku
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/gnome-sudoku.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
Version=1.0
DBusActivatable=true
