[Desktop Entry]
Name=Cuphead
#Exec=env WINEPREFIX="/home/pixel/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/pixel/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/Cuphead/Cuphead.lnk
Exec=env WINEPREFIX="/home/pixel/.wine" wine "/home/pixel/.wine/dosdevices/c:/GOG Games/Cuphead/Cuphead.exe"
Type=Application
StartupNotify=true
Path=/home/pixel/.wine/dosdevices/c:/GOG Games/Cuphead
Icon=FB54_goggame-1963513391.0
StartupWMClass=cuphead.exe
