[Desktop Entry]
Version=1.0
Name=Donkey Kong  (on debian)
Comment=Classic Donkey Kong Game
Exec=/usr/bin/distrobox-enter  -n debian -- ' /bin/zsh -c "python3 /home/pixel/College/Programming\ I/Basic-OOP-Donkey-Kong-in-Python/mario_barrel.py -- %u"'
Icon=/home/pixel/.local/share/icons/donkeykong.png
Terminal=false
Type=Application
