[Desktop Entry]
Version=1.0
Name=Pac-Man  (on debian)
Comment=Classic Pac-Man Game
Exec=/usr/bin/distrobox-enter --root -n debian -- ' /bin/zsh -c "make re play -C /home/pixel/42\ Madrid/GitHub/42\ Cursus/so_long" -- %u'
Icon=/home/pixel/.local/share/icons/pacman.png
Terminal=false
Type=Application
