[Desktop Entry]
Version=1.0
Name=Nemo
Comment=Gnome File Manager
Exec=nemo %f
Icon=/usr/share/icons/folder.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true
MimeType=application;
