[Desktop Entry]
Name=Tabby  (on arch)
Exec=/usr/bin/distrobox-enter --root -n arch -- '  /opt/Tabby/tabby --no-sandbox  %U'
Terminal=false
Type=Application
Icon=/home/pixel/.local/share/icons/tabby.svg
StartupWMClass=tabby
Comment=A terminal for a modern age
Categories=Utility;TerminalEmulator;System;
