[Desktop Entry]
Version=1.0
Name=Firefox  (on arch)
GenericName=Web Browser  (on arch)
GenericName[ar]=متصفح ويب  (on arch)
GenericName[ast]=Restolador Web  (on arch)
GenericName[bn]=ওয়েব ব্রাউজার  (on arch)
GenericName[ca]=Navegador web  (on arch)
GenericName[cs]=Webový prohlížeč  (on arch)
GenericName[da]=Webbrowser  (on arch)
GenericName[de]=Webbrowser  (on arch)
GenericName[el]=Περιηγητής διαδικτύου  (on arch)
GenericName[es]=Navegador web  (on arch)
GenericName[et]=Veebibrauser  (on arch)
GenericName[fa]=مرورگر اینترنتی  (on arch)
GenericName[fi]=WWW-selain  (on arch)
GenericName[fr]=Navigateur Web  (on arch)
GenericName[gl]=Navegador Web  (on arch)
GenericName[he]=דפדפן אינטרנט  (on arch)
GenericName[hr]=Web preglednik  (on arch)
GenericName[hu]=Webböngésző  (on arch)
GenericName[it]=Browser web  (on arch)
GenericName[ja]=ウェブ・ブラウザ  (on arch)
GenericName[ko]=웹 브라우저  (on arch)
GenericName[ku]=Geroka torê  (on arch)
GenericName[lt]=Interneto naršyklė  (on arch)
GenericName[nb]=Nettleser  (on arch)
GenericName[nl]=Webbrowser  (on arch)
GenericName[nn]=Nettlesar  (on arch)
GenericName[no]=Nettleser  (on arch)
GenericName[pl]=Przeglądarka WWW  (on arch)
GenericName[pt]=Navegador Web  (on arch)
GenericName[pt_BR]=Navegador Web  (on arch)
GenericName[ro]=Navigator Internet  (on arch)
GenericName[ru]=Веб-браузер  (on arch)
GenericName[sk]=Internetový prehliadač  (on arch)
GenericName[sl]=Spletni brskalnik  (on arch)
GenericName[sv]=Webbläsare  (on arch)
GenericName[tr]=Web Tarayıcı  (on arch)
GenericName[ug]=توركۆرگۈ  (on arch)
GenericName[uk]=Веб-браузер  (on arch)
GenericName[vi]=Trình duyệt Web  (on arch)
GenericName[zh_CN]=网络浏览器  (on arch)
GenericName[zh_TW]=網路瀏覽器  (on arch)
Comment=Browse the World Wide Web
Comment[ar]=تصفح الشبكة العنكبوتية العالمية
Comment[ast]=Restola pela Rede
Comment[bn]=ইন্টারনেট ব্রাউজ করুন
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Μπορείτε να περιηγηθείτε στο διαδίκτυο (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola rede
Comment[he]=גלישה ברחבי האינטרנט
Comment[hr]=Pretražite web
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[ku]=Li torê bigere
Comment[lt]=Naršykite internete
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ro]=Navigați pe Internet
Comment[ru]=Доступ в Интернет
Comment[sk]=Prehliadanie internetu
Comment[sl]=Brskajte po spletu
Comment[sv]=Surfa på webben
Comment[tr]=İnternet'te Gezinin
Comment[ug]=دۇنيادىكى توربەتلەرنى كۆرگىلى بولىدۇ
Comment[uk]=Перегляд сторінок Інтернету
Comment[vi]=Để duyệt các trang web
Comment[zh_CN]=浏览互联网
Comment[zh_TW]=瀏覽網際網路
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[ar]=انترنت;إنترنت;متصفح;ويب;وب
Keywords[ast]=Internet;WWW;Restolador;Web;Esplorador
Keywords[ca]=Internet;WWW;Navegador;Web;Explorador;Explorer
Keywords[cs]=Internet;WWW;Prohlížeč;Web;Explorer
Keywords[da]=Internet;Internettet;WWW;Browser;Browse;Web;Surf;Nettet
Keywords[de]=Internet;WWW;Browser;Web;Explorer;Webseite;Site;surfen;online;browsen
Keywords[el]=Internet;WWW;Browser;Web;Explorer;Διαδίκτυο;Περιηγητής;Firefox;Φιρεφοχ;Ιντερνετ
Keywords[es]=Explorador;Internet;WWW
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;selain;Internet-selain;internetselain;verkkoselain;netti;surffaa
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur
Keywords[he]=דפדפן;אינטרנט;רשת;אתרים;אתר;פיירפוקס;מוזילה;
Keywords[hr]=Internet;WWW;preglednik;Web
Keywords[hu]=Internet;WWW;Böngésző;Web;Háló;Net;Explorer
Keywords[it]=Internet;WWW;Browser;Web;Navigatore
Keywords[is]=Internet;WWW;Vafri;Vefur;Netvafri;Flakk
Keywords[ja]=Internet;WWW;Web;インターネット;ブラウザ;ウェブ;エクスプローラ
Keywords[nb]=Internett;WWW;Nettleser;Explorer;Web;Browser;Nettside
Keywords[nl]=Internet;WWW;Browser;Web;Explorer;Verkenner;Website;Surfen;Online
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[ru]=Internet;WWW;Browser;Web;Explorer;интернет;браузер;веб;файрфокс;огнелис
Keywords[sk]=Internet;WWW;Prehliadač;Web;Explorer
Keywords[sl]=Internet;WWW;Browser;Web;Explorer;Brskalnik;Splet
Keywords[tr]=İnternet;WWW;Tarayıcı;Web;Gezgin;Web sitesi;Site;sörf;çevrimiçi;tara
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;Інтернет;мережа;переглядач;оглядач;браузер;веб;файрфокс;вогнелис;перегляд
Keywords[vi]=Internet;WWW;Browser;Web;Explorer;Trình duyệt;Trang web
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;网页;浏览;上网;火狐;Firefox;ff;互联网;网站;
Keywords[zh_TW]=Internet;WWW;Browser;Web;Explorer;網際網路;網路;瀏覽器;上網;網頁;火狐
Exec=/usr/bin/distrobox-enter --root -n arch -- '  /usr/lib/firefox/firefox  %u'
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window  (on arch)
Name[ach]=Dirica manyen  (on arch)
Name[af]=Nuwe venster  (on arch)
Name[an]=Nueva finestra  (on arch)
Name[ar]=نافذة جديدة  (on arch)
Name[as]=নতুন উইন্ডো  (on arch)
Name[ast]=Ventana nueva  (on arch)
Name[az]=Yeni Pəncərə  (on arch)
Name[be]=Новае акно  (on arch)
Name[bg]=Нов прозорец  (on arch)
Name[bn_BD]=নতুন উইন্ডো (N)  (on arch)
Name[bn_IN]=নতুন উইন্ডো  (on arch)
Name[br]=Prenestr nevez  (on arch)
Name[brx]=गोदान उइन्ड'(N)  (on arch)
Name[bs]=Novi prozor  (on arch)
Name[ca]=Finestra nova  (on arch)
Name[cak]=K'ak'a' tzuwäch  (on arch)
Name[cs]=Nové okno  (on arch)
Name[cy]=Ffenestr Newydd  (on arch)
Name[da]=Nyt vindue  (on arch)
Name[de]=Neues Fenster  (on arch)
Name[dsb]=Nowe wokno  (on arch)
Name[el]=Νέο παράθυρο  (on arch)
Name[en_GB]=New Window  (on arch)
Name[en_US]=New Window  (on arch)
Name[en_ZA]=New Window  (on arch)
Name[eo]=Nova fenestro  (on arch)
Name[es_AR]=Nueva ventana  (on arch)
Name[es_CL]=Nueva ventana  (on arch)
Name[es_ES]=Nueva ventana  (on arch)
Name[es_MX]=Nueva ventana  (on arch)
Name[et]=Uus aken  (on arch)
Name[eu]=Leiho berria  (on arch)
Name[fa]=پنجره جدید  (on arch)
Name[ff]=Henorde Hesere  (on arch)
Name[fi]=Uusi ikkuna  (on arch)
Name[fr]=Nouvelle fenêtre  (on arch)
Name[fy_NL]=Nij finster  (on arch)
Name[ga_IE]=Fuinneog Nua  (on arch)
Name[gd]=Uinneag ùr  (on arch)
Name[gl]=Nova xanela  (on arch)
Name[gn]=Ovetã pyahu  (on arch)
Name[gu_IN]=નવી વિન્ડો  (on arch)
Name[he]=חלון חדש  (on arch)
Name[hi_IN]=नया विंडो  (on arch)
Name[hr]=Novi prozor  (on arch)
Name[hsb]=Nowe wokno  (on arch)
Name[hu]=Új ablak  (on arch)
Name[hy_AM]=Նոր Պատուհան  (on arch)
Name[id]=Jendela Baru  (on arch)
Name[is]=Nýr gluggi  (on arch)
Name[it]=Nuova finestra  (on arch)
Name[ja]=新しいウィンドウ  (on arch)
Name[ja_JP-mac]=新規ウインドウ  (on arch)
Name[ka]=ახალი ფანჯარა  (on arch)
Name[kk]=Жаңа терезе  (on arch)
Name[km]=បង្អួចថ្មី  (on arch)
Name[kn]=ಹೊಸ ಕಿಟಕಿ  (on arch)
Name[ko]=새 창  (on arch)
Name[kok]=नवें जनेल  (on arch)
Name[ks]=نئئ وِنڈو  (on arch)
Name[lij]=Neuvo barcon  (on arch)
Name[lo]=ຫນ້າຕ່າງໃຫມ່  (on arch)
Name[lt]=Naujas langas  (on arch)
Name[ltg]=Jauns lūgs  (on arch)
Name[lv]=Jauns logs  (on arch)
Name[mai]=नव विंडो  (on arch)
Name[mk]=Нов прозорец  (on arch)
Name[ml]=പുതിയ ജാലകം  (on arch)
Name[mr]=नवीन पटल  (on arch)
Name[ms]=Tetingkap Baru  (on arch)
Name[my]=ဝင်းဒိုးအသစ်  (on arch)
Name[nb_NO]=Nytt vindu  (on arch)
Name[ne_NP]=नयाँ सञ्झ्याल  (on arch)
Name[nl]=Nieuw venster  (on arch)
Name[nn_NO]=Nytt vindauge  (on arch)
Name[or]=ନୂତନ ୱିଣ୍ଡୋ  (on arch)
Name[pa_IN]=ਨਵੀਂ ਵਿੰਡੋ  (on arch)
Name[pl]=Nowe okno  (on arch)
Name[pt_BR]=Nova janela  (on arch)
Name[pt_PT]=Nova janela  (on arch)
Name[rm]=Nova fanestra  (on arch)
Name[ro]=Fereastră nouă  (on arch)
Name[ru]=Новое окно  (on arch)
Name[sat]=नावा विंडो (N)  (on arch)
Name[si]=නව කවුළුවක්  (on arch)
Name[sk]=Nové okno  (on arch)
Name[sl]=Novo okno  (on arch)
Name[son]=Zanfun taaga  (on arch)
Name[sq]=Dritare e Re  (on arch)
Name[sr]=Нови прозор  (on arch)
Name[sv_SE]=Nytt fönster  (on arch)
Name[ta]=புதிய சாளரம்  (on arch)
Name[te]=కొత్త విండో  (on arch)
Name[th]=หน้าต่างใหม่  (on arch)
Name[tr]=Yeni pencere  (on arch)
Name[tsz]=Eraatarakua jimpani  (on arch)
Name[uk]=Нове вікно  (on arch)
Name[ur]=نیا دریچہ  (on arch)
Name[uz]=Yangi oyna  (on arch)
Name[vi]=Cửa sổ mới  (on arch)
Name[wo]=Palanteer bu bees  (on arch)
Name[xh]=Ifestile entsha  (on arch)
Name[zh_CN]=新建窗口  (on arch)
Name[zh_TW]=開新視窗  (on arch)
Exec=/usr/bin/distrobox-enter --root -n arch -- '  /usr/lib/firefox/firefox --new-window  %u'

[Desktop Action new-private-window]
Name=New Private Window  (on arch)
Name[ach]=Dirica manyen me mung  (on arch)
Name[af]=Nuwe privaatvenster  (on arch)
Name[an]=Nueva finestra privada  (on arch)
Name[ar]=نافذة خاصة جديدة  (on arch)
Name[as]=নতুন ব্যক্তিগত উইন্ডো  (on arch)
Name[ast]=Ventana privada nueva  (on arch)
Name[az]=Yeni Məxfi Pəncərə  (on arch)
Name[be]=Новае акно адасаблення  (on arch)
Name[bg]=Нов прозорец за поверително сърфиране  (on arch)
Name[bn_BD]=নতুন ব্যক্তিগত উইন্ডো  (on arch)
Name[bn_IN]=নতুন ব্যক্তিগত উইন্ডো  (on arch)
Name[br]=Prenestr merdeiñ prevez nevez  (on arch)
Name[brx]=गोदान प्राइभेट उइन्ड'  (on arch)
Name[bs]=Novi privatni prozor  (on arch)
Name[ca]=Finestra privada nova  (on arch)
Name[cak]=K'ak'a' ichinan tzuwäch  (on arch)
Name[cs]=Nové anonymní okno  (on arch)
Name[cy]=Ffenestr Breifat Newydd  (on arch)
Name[da]=Nyt privat vindue  (on arch)
Name[de]=Neues privates Fenster  (on arch)
Name[dsb]=Nowe priwatne wokno  (on arch)
Name[el]=Νέο παράθυρο ιδιωτικής περιήγησης  (on arch)
Name[en_GB]=New Private Window  (on arch)
Name[en_US]=New Private Window  (on arch)
Name[en_ZA]=New Private Window  (on arch)
Name[eo]=Nova privata fenestro  (on arch)
Name[es_AR]=Nueva ventana privada  (on arch)
Name[es_CL]=Nueva ventana privada  (on arch)
Name[es_ES]=Nueva ventana privada  (on arch)
Name[es_MX]=Nueva ventana privada  (on arch)
Name[et]=Uus privaatne aken  (on arch)
Name[eu]=Leiho pribatu berria  (on arch)
Name[fa]=پنجره ناشناس جدید  (on arch)
Name[ff]=Henorde Suturo Hesere  (on arch)
Name[fi]=Uusi yksityinen ikkuna  (on arch)
Name[fr]=Nouvelle fenêtre de navigation privée  (on arch)
Name[fy_NL]=Nij priveefinster  (on arch)
Name[ga_IE]=Fuinneog Nua Phríobháideach  (on arch)
Name[gd]=Uinneag phrìobhaideach ùr  (on arch)
Name[gl]=Nova xanela privada  (on arch)
Name[gn]=Ovetã ñemi pyahu  (on arch)
Name[gu_IN]=નવી ખાનગી વિન્ડો  (on arch)
Name[he]=חלון פרטי חדש  (on arch)
Name[hi_IN]=नयी निजी विंडो  (on arch)
Name[hr]=Novi privatni prozor  (on arch)
Name[hsb]=Nowe priwatne wokno  (on arch)
Name[hu]=Új privát ablak  (on arch)
Name[hy_AM]=Սկսել Գաղտնի դիտարկում  (on arch)
Name[id]=Jendela Mode Pribadi Baru  (on arch)
Name[is]=Nýr huliðsgluggi  (on arch)
Name[it]=Nuova finestra anonima  (on arch)
Name[ja]=新しいプライベートウィンドウ  (on arch)
Name[ja_JP-mac]=新規プライベートウインドウ  (on arch)
Name[ka]=ახალი პირადი ფანჯარა  (on arch)
Name[kk]=Жаңа жекелік терезе  (on arch)
Name[km]=បង្អួចឯកជនថ្មី  (on arch)
Name[kn]=ಹೊಸ ಖಾಸಗಿ ಕಿಟಕಿ  (on arch)
Name[ko]=새 사생활 보호 모드  (on arch)
Name[kok]=नवो खाजगी विंडो  (on arch)
Name[ks]=نْو پرایوٹ وینڈو  (on arch)
Name[lij]=Nêuvo barcón privòu  (on arch)
Name[lo]=ເປີດຫນ້າຕ່າງສວນຕົວຂື້ນມາໃຫມ່  (on arch)
Name[lt]=Naujas privataus naršymo langas  (on arch)
Name[ltg]=Jauns privatais lūgs  (on arch)
Name[lv]=Jauns privātais logs  (on arch)
Name[mai]=नया निज विंडो (W)  (on arch)
Name[mk]=Нов приватен прозорец  (on arch)
Name[ml]=പുതിയ സ്വകാര്യ ജാലകം  (on arch)
Name[mr]=नवीन वैयक्तिक पटल  (on arch)
Name[ms]=Tetingkap Persendirian Baharu  (on arch)
Name[my]=New Private Window  (on arch)
Name[nb_NO]=Nytt privat vindu  (on arch)
Name[ne_NP]=नयाँ निजी सञ्झ्याल  (on arch)
Name[nl]=Nieuw privévenster  (on arch)
Name[nn_NO]=Nytt privat vindauge  (on arch)
Name[or]=ନୂତନ ବ୍ୟକ୍ତିଗତ ୱିଣ୍ଡୋ  (on arch)
Name[pa_IN]=ਨਵੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ  (on arch)
Name[pl]=Nowe okno prywatne  (on arch)
Name[pt_BR]=Nova janela privativa  (on arch)
Name[pt_PT]=Nova janela privada  (on arch)
Name[rm]=Nova fanestra privata  (on arch)
Name[ro]=Fereastră privată nouă  (on arch)
Name[ru]=Новое приватное окно  (on arch)
Name[sat]=नावा निजेराक् विंडो (W )  (on arch)
Name[si]=නව පුද්ගලික කවුළුව (W)  (on arch)
Name[sk]=Nové okno v režime Súkromné prehliadanie  (on arch)
Name[sl]=Novo zasebno okno  (on arch)
Name[son]=Sutura zanfun taaga  (on arch)
Name[sq]=Dritare e Re Private  (on arch)
Name[sr]=Нови приватан прозор  (on arch)
Name[sv_SE]=Nytt privat fönster  (on arch)
Name[ta]=புதிய தனிப்பட்ட சாளரம்  (on arch)
Name[te]=కొత్త ఆంతరంగిక విండో  (on arch)
Name[th]=หน้าต่างส่วนตัวใหม่  (on arch)
Name[tr]=Yeni gizli pencere  (on arch)
Name[tsz]=Juchiiti eraatarakua jimpani  (on arch)
Name[uk]=Приватне вікно  (on arch)
Name[ur]=نیا نجی دریچہ  (on arch)
Name[uz]=Yangi maxfiy oyna  (on arch)
Name[vi]=Cửa sổ riêng tư mới  (on arch)
Name[wo]=Panlanteeru biir bu bees  (on arch)
Name[xh]=Ifestile yangasese entsha  (on arch)
Name[zh_CN]=新建隐私浏览窗口  (on arch)
Name[zh_TW]=新增隱私視窗  (on arch)
Exec=/usr/bin/distrobox-enter --root -n arch -- '  /usr/lib/firefox/firefox --private-window  %u'
