[Desktop Entry]
Encoding=UTF-8
Name[ca]=Pitivi  (on arch)
Name[cs]=Pitivi  (on arch)
Name[da]=Pitivi  (on arch)
Name[de]=Pitivi  (on arch)
Name[el]=Pitivi  (on arch)
Name[eo]=Pitivio  (on arch)
Name[es]=Pitivi  (on arch)
Name[eu]=Pitivi  (on arch)
Name[fi]=Pitivi  (on arch)
Name[fr]=Pitivi  (on arch)
Name[hu]=Pitivi  (on arch)
Name[id]=Pitivi  (on arch)
Name[it]=Pitivi  (on arch)
Name[lv]=Pitivi  (on arch)
Name[lt]=Pitivi  (on arch)
Name[pl]=Pitivi  (on arch)
Name[pt]=Pitivi  (on arch)
Name[pt_BR]=Pitivi  (on arch)
Name[ro]=Pitivi  (on arch)
Name[ru]=Pitivi  (on arch)
Name[sk]=Pitivi  (on arch)
Name[sl]=Pitivi  (on arch)
Name[sr]=Питиви  (on arch)
Name[sr@latin]=Pitivi  (on arch)
Name[sv]=Pitivi  (on arch)
Name[tr]=Pitivi  (on arch)
Name[uk]=Pitivi  (on arch)
Name[zh_CN]=Pitivi  (on arch)
Name[zh_TW]=Pitivi  (on arch)
Name=Pitivi  (on arch)
GenericName[bs]=Video uređivač  (on arch)
GenericName[ca]=Editor de vídeo  (on arch)
GenericName[cs]=Editor videa  (on arch)
GenericName[da]=Videoredigering  (on arch)
GenericName[de]=Video-Bearbeitungsprogramm  (on arch)
GenericName[el]=Επεξεργαστής βίντεο  (on arch)
GenericName[eo]=Video-redaktilo  (on arch)
GenericName[es]=Editor de vídeo  (on arch)
GenericName[eu]=Bideo-editorea  (on arch)
GenericName[fi]=Videomuokkain  (on arch)
GenericName[fr]=Éditeur vidéo  (on arch)
GenericName[hu]=Videoszerkesztő  (on arch)
GenericName[id]=Penyunting Video  (on arch)
GenericName[it]=Editor video  (on arch)
GenericName[lv]=Video redaktors  (on arch)
GenericName[lt]=Vaizdo įrašų redaktorius  (on arch)
GenericName[pl]=Edytor wideo  (on arch)
GenericName[pt]=Editor de vídeo  (on arch)
GenericName[pt_BR]=Editor de vídeo  (on arch)
GenericName[ru]=Видеоредактор  (on arch)
GenericName[sk]=Editor videa  (on arch)
GenericName[sl]=Program za videomontažo  (on arch)
GenericName[sr]=Видео уредник  (on arch)
GenericName[sr@latin]=Video urednik  (on arch)
GenericName[sv]=Videoredigerare  (on arch)
GenericName[tr]=Video Düzenleyici  (on arch)
GenericName[uk]=Відеоредактор  (on arch)
GenericName[zh_CN]=视频编辑器  (on arch)
GenericName[zh_HK]=影片編輯器  (on arch)
GenericName[zh_TW]=影片編輯器  (on arch)
GenericName=Video Editor  (on arch)
Comment[ast]=Crea y edita les tos películes
Comment[bg]=Създаване и редактиране на собствени филми
Comment[bs]=Kreiranje i pregledanje vaših vlastitih filmova
Comment[ca]=Creeu i editeu les vostres pel·lícules
Comment[ca@valencia]=Creeu i editeu les vostres pel·lícules
Comment[cs]=Vytvářejte a upravujte své vlastní filmy
Comment[da]=Opret og redigér dine egne film
Comment[de]=Erstellen und bearbeiten Sie Ihre eigenen Filme
Comment[el]=Δημιουργήστε και επεξεργαστείτε τις δικές σας ταινίες
Comment[en_GB]=Create and edit your own movies
Comment[eo]=Krei kaj redakti viajn proprajn filmojn
Comment[es]=Cree y edite sus propias películas
Comment[et]=Loo ja muuda enda filme
Comment[eu]=Sortu eta editatu zure filmak
Comment[fi]=Luo ja muokkaa elokuvia
Comment[fr]=Créer et modifier vos propres films
Comment[gl]=Cree e edite os seus propios filmes
Comment[he]=יצירה ועריכה של סרטים עצמיים
Comment[hu]=Saját videók létrehozása és szerkesztése
Comment[id]=Buat dan sunting filmmu sendiri
Comment[it]=Creare e modificare i propri filmati
Comment[ja]=自分で動画を作成・編集します
Comment[ko]=동영상 제작 및 편집
Comment[ku]=Fîlmên xwe biafirîne û sererast bike
Comment[lv]=Izveido un rediģē savas filmas
Comment[lt]=Kurkite ir redaguokite savo filmus
Comment[nb]=Lag og rediger dine egne videoer
Comment[nds]=Erstell un bewark dien eegen Filme
Comment[nl]=Uw eigen films maken en bewerken
Comment[oc]=Crear e modificar vòstras pròprias vidèos
Comment[pl]=Tworzenie i montaż filmów
Comment[pt]=Crie e edite os seus filmes
Comment[pt_BR]=Crie e edite os seus próprios filmes
Comment[ro]=Creează și editează filmele tale
Comment[ru]=Создание и редактирование видеороликов
Comment[sk]=Vytvára a upravuje vaše vlastné filmy
Comment[sl]=Ustvarite in montirajte svoje filme
Comment[sr]=Стварајте и уређујте ваше личне видео записе
Comment[sr@latin]=Stvarajte i uređujte vaše lične video zapise
Comment[sv]=Skapa och redigera dina egna filmer
Comment[te]=మీ సొంత చలనచిత్రాలను సృష్టించండి మరియు సవరించండి
Comment[tr]=Kendi filminizi yaratın ve düzenleyin
Comment[uk]=Створюйте та редагуйте власні відео
Comment[vi]=Tạo ra và chỉnh sửa phim của bạn
Comment[zh_CN]=创建和编辑自己的电影
Comment[zh_HK]=建立與編輯你的電影
Comment[zh_TW]=建立與編輯您的電影
Comment=Create and edit your own movies
Exec=/usr/bin/distrobox-enter --root -n arch -- '  pitivi  %f'
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/pixel/.local/share/icons/pitivi.png
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=text/x-xges;text/x-xptv;
StartupNotify=true
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=vídeo;film;pel·lícula;editor;
Keywords[cs]=video;film;střih;střižna;editor;
Keywords[da]=video;film;editor;redigering;
Keywords[de]=video;filmstreifen;film;editor;
Keywords[es]=vídeo;film;película;editor;
Keywords[eu]=bideoa;filma;zinema;editorea;
Keywords[fi]=video;film;movie;editor;elokuva;editori;muokkain;
Keywords[fr]=vidéo;film;éditeur;banc;montage;
Keywords[hu]=videó;film;mozi;szerkesztő;
Keywords[id]=video;film;penyunting;editor;
Keywords[it]=video;film;filmati;montaggio;editor;
Keywords[lv]=video;filma;redaktors;
Keywords[lt]=vaizdas;filmas;redaktorius;
Keywords[pl]=wideo;video;filmy;filmów;edytor;wideoedytor;obróbka;montaż;nieliniowy;montażysta;
Keywords[pt_BR]=vídeo;filme;editor;
Keywords[ro]=video;film;movie;editor;
Keywords[ru]=video;film;movie;editor;видео;фильм;кино;редактор;
Keywords[sk]=video;film;editor;
Keywords[sl]=video;film;movie;editor;urejevalnik;montaža;posnetki;
Keywords[sr]=снимак;видео;филм;уређивач;
Keywords[sr@latin]=snimak;video;film;uređivač;
Keywords[sv]=video;film;redigerare;editor;
Keywords[tr]=video;film;klip;düzenleyici;editör;
Keywords[uk]=video;film;movie;editor;відео;фільм;редактор;
Keywords[zh_CN]=video;film;movie;editor;视频;电影;胶片;影片;编辑器;
Keywords[zh_TW]=video;film;movie;editor;視訊;影片;電影;編輯器;
Keywords=video;film;movie;editor;
StartupWMClass=pitivi
