[Desktop Entry]
Version=1.0
Type=Application
Name=DeSmuME
Comment=Nintento DS emulator
TryExec=desmume
Exec=desmume
Icon=/usr/share/icons/desmume.png
Categories=GNOME;GTK;Game;Emulator;
MimeType=application/x-nintendo-ds-rom;
