[Desktop Entry]
Name[af]=Sleutelbordkortpaaie
Name[am]=የፊደል ሠሌዳው አቋራጭ
Name[an]=Alcorces de teclau
Name[ar]=اختصارات لوحة المفاتيح
Name[as]=কিবৰ্ড চৰ্টকাটসমূহ
Name[az]=Klaviatura Qısa Yolları
Name[be]=Клавіятурныя скароты
Name[be@latin]=Klavijaturnyja skaroty
Name[bg]=Клавишни комбинации
Name[bn_IN]=কি-বোর্ড শর্টকাট
Name[br]=Berradennoù ar c'hlavier
Name[bs]=Prečice sa tastature
Name[ca]=Dreceres de teclat
Name[ca@valencia]=Dreceres de teclat
Name[ckb]=قەدبڕەکانی تەختەکلیل
Name[crh]=Klavye Qısqayolları
Name[cs]=Klávesové zkratky
Name[cy]=Llwybrau byr y Bysellfwrdd
Name[da]=Tastaturgenveje
Name[de]=Tastenkombinationen
Name[dz]=ལྡེ་སྒྲོམ་གྱི་མགྱོགས་ཐབས།
Name[el]=Συντομεύσεις πληκτρολογίου
Name[en_CA]=Keyboard Shortcuts
Name[en_GB]=Keyboard Shortcuts
Name[en@shaw]=𐑒𐑰𐑚𐑪𐑮𐑛 𐑖𐑹𐑑𐑒𐑳𐑑𐑕
Name[eo]=Klavkombinoj
Name[es]=Combinaciones de teclas
Name[et]=Kiirklahvid
Name[eu]=Laster-teklak
Name[fa]=میان‌برهای صفحه‌کلید
Name[fi]=Pikanäppäimet
Name[fr]=Raccourcis clavier
Name[fur]=Scurte di tastiere
Name[ga]=Aicearraí Méarchláir
Name[gd]=Ath-ghoiridean a’ mheur-chlàir
Name[gl]=Atallos de teclado
Name[gu]=કિબોર્ડ ટૂંકાણો
Name[he]=צירופי מקשים
Name[hi]=कुंजीपट शॉर्टकट
Name[hr]=Prečaci tipkovnice
Name[hu]=Gyorsbillentyűk
Name[hy]=Ստեղնաշարի ստեղների համադրություն
Name[id]=Tombol Pintas
Name[is]=Flýtilyklar
Name[it]=Scorciatoie da tastiera
Name[ja]=キーボードショートカット
Name[ka]=სხარტი კლავიშები
Name[kk]=Пернетақта жарлықтары
Name[kn]=ಕೀಲಿಮಣೆ-ಸುಲಭ ಆಯ್ಕೆಗಳು
Name[ko]=키보드 바로 가기
Name[lt]=Klaviatūros trumpiniai
Name[lv]=Tastatūras saīsnes
Name[mai]=कुंजीपटल शार्टकट
Name[mg]=Hintsin-dàlan'ny kitendry
Name[ml]=കീബോര്‍ഡ് കുറക്കുവഴികള്‍
Name[mn]=Гарын шорткат
Name[mr]=कळफलक शार्टकट्स
Name[ms]=Pintasan Papan Kekunci
Name[my]=ကီးဘုတ် အမြန်ခလုတ်
Name[nb]=Tastatursnarveier
Name[nds]=Knöppboord Kortsnieds
Name[ne]=कुञ्जीपाटी सर्टकट
Name[nl]=Sneltoetsen
Name[nso]=Dikgaoletšo tša Boroto ya Dinotlelo
Name[oc]=Acorchis de clavièr
Name[or]=କିବୋର୍ଡ ସର୍ଟକଟଗୁଡିକ
Name[pa]=ਕੀ-ਬੋਰਡ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty klawiszowe
Name[pt]=Atalhos de teclado
Name[pt_BR]=Atalhos de teclado
Name[ro]=Scurtături tastatură
Name[ru]=Комбинации клавиш
Name[si]=යතුරු පුවරු කෙටි මාර්‍ඟ
Name[sk]=Klávesové skratky
Name[sl]=Tipkovne bližnjice
Name[sq]=Kombinime përshpejtuese nga tastiera
Name[sr]=Пречице тастатуре
Name[sr@latin]=Prečice tastature
Name[sv]=Tangentbordsgenvägar
Name[ta]=விசைப்பலகை குறுக்கு வழிகள்
Name[te]=కీబోర్డు లఘువులు
Name[tg]=Миёнбурҳои клавиатура
Name[th]=ปุ่มลัด
Name[tr]=Klavye Kısayolları
Name[uk]=Клавіатурні скорочення
Name[uz]=Klaviatura tugmalar birikmasi:
Name[uz@cyrillic]=Клавиатура тугмалар бирикмаси:
Name[vi]=Phím tắt bàn phím
Name[wa]=Rascourtis del taprece
Name[xh]=Iindlela eziNqumlayo ze-Keyboard
Name[zh_CN]=键盘快捷键
Name[zh_HK]=鍵盤捷徑鍵
Name[zh_TW]=鍵盤快捷鍵
Name[zu]=Izinqamulo zendawo yokushaya uma ubhala
Name=Keyboard Shortcuts
Comment[af]=Vertoon en verander sleutelbordkortpaaie en stel tikvoorkeure
Comment[an]=Veyer y cambiar os alcorces d'o teclau y establir as tuyas preferencias de escritura
Comment[ar]=اعرض و غيّر اختصارات لوحة المفاتيح و اضبط خيارات الكتابة
Comment[as]=কিবৰ্ড চৰ্টকাটসমূহ দৰ্শন কৰক আৰু পৰিবৰ্তন কৰক আৰু আপোনাৰ টাইপিং পছন্দসমূহ সংহতি কৰক
Comment[be]=Настройка клавіятурных скаротаў і ўводу тэксту
Comment[bg]=Преглед и промяна на клавишните комбинации и другите настройки на клавиатурата
Comment[bn_IN]=কীবোর্ড শর্টকাটগুলি দেখুন এবং পরিবর্তন করুন এবং অাপনার টাইপিং অগ্রাধিকার সেট করুন
Comment[bs]=Pregled i promjena prečice za tastaturu i postavi svoje preferirano kucanje
Comment[ca]=Visualitzeu i canvieu les dreceres de teclat i establiu les preferències d'escriptura
Comment[ca@valencia]=Visualitzeu i canvieu les dreceres de teclat i establiu les preferències d'escriptura
Comment[ckb]=قەبڕەکانی تەختەکلیل ببینە و بگۆڕە و هەڵبژاردەی نووسینەکەت دابنی
Comment[crh]=Klavye qısqayollarını seyretiñiz hem deñiştiriñiz ve tuşlama tercihleriñizni tesbit etiñiz
Comment[cs]=Zobrazit a změnit klávesové zkratky a nastavit předvolby pro psaní
Comment[da]=Vis og skift tastaturgenveje, og indstil dine tasteindstillinger
Comment[de]=Tastenkombinationen anzeigen und ändern sowie individuelle Tastaturbelegung einstellen
Comment[el]=Δείτε και αλλάξτε τις συντομεύσεις πληκτρολογίου και ορίστε τις προτιμήσεις πληκτρολόγησης
Comment[en_GB]=View and change keyboard shortcuts and set your typing preferences
Comment[eo]=Montru kaj ŝanĝu klavkombinojn kaj agordu viajn tajpadajn preferojn
Comment[es]=Ver y cambiar los atajos del teclado y establecer sus preferencias de escritura
Comment[et]=Kiirklahvide vaatamine ja muutmine ning sisestamise eelistuste muutmine
Comment[eu]=Ikusi eta aldatu teklatuaren laster-teklak eta ezarri idazteko hobespenak
Comment[fa]=نمایش و تغییر میان‌برهای صفحه‌کلید و تنظیم ترجیحات تایپتان
Comment[fi]=Katsele ja muuta näppäimistön pikanäppäimiä ja aseta kirjoitusasetuksesi
Comment[fr]=Afficher, modifier les raccourcis clavier et définir vos préférences de saisie
Comment[fur]=Viôt e cambie la scurte di tastiere e stabilìs lis preferencis di digjitazion
Comment[gd]=Seall is atharraich ath-ghoiridean a’ mheur-chlàir agad is suidhich na roghainnean sgrìobhaidh agad
Comment[gl]=Vexa e cambie os atallos do teclado e estabeleza as preferencias de escritura
Comment[gu]=કિબોર્ડ ટૂંકાણોને બદલો અને જુઓ અને તમારી ટાઇપીંગ પસંદગીઓને સુયોજિત કરો
Comment[he]=הצגה ושינוי צירופי מקשים להעדפות ההקלדה שלך
Comment[hi]=देखें और कुंजीपटल शॉर्टकट को बदलें और अपनी टाइपिंग की वरीयताओं को सेट करें
Comment[hr]=Pogledajte i promijenite prečace tipkovnice i postavite osobitosti tipkanja
Comment[hu]=Gyorsbillentyűk megjelenítése és módosítása, gépelési beállítások megadása
Comment[id]=Tilik dan ubah pintasan papan tik dan tata preferensi pengetikan Anda
Comment[is]=Skoða og breyta flýtileiðum á lyklaborði og setja valkosti við stafainnsetningu
Comment[it]=Visualizza e modifica le scorciatoie da tastiera e imposta le preferenze di digitazione
Comment[ja]=キーボードショートカットの表示や変更、タイピングの設定を行います
Comment[kk]=Пернетақта жарлықтарын қарау және өзгерту, теру баптауларын орнату
Comment[kn]=ಕೀಲಿಮಣೆ ಸುಲಭಆಯ್ಕೆಗಳನ್ನು ನೋಡು ಹಾಗೂ ಬದಲಾಯಿಸು ಮತ್ತು ನಿಮ್ಮ ಟೈಪಿಂಗ್ ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸು
Comment[ko]=키보드 바로 가기를 보거나 바꾸고 키보드 타이핑을 설정합니다
Comment[lt]=Rodyti ir keisti klaviatūros trumpinius bei nustatyti rašymo nuostatas
Comment[lv]=Skatiet un mainiet tastatūras īsinājumtaustiņus un izvēlieties savus rakstīšanas iestatījumus
Comment[ml]=കീബോഡ് കുറുക്കുവഴികള്‍ കണ്ട് മാറുറുക; ടൈപ്പിങ്ങ് മുന്‍ഗണനകള്‍ മാറ്റുക
Comment[mr]=कळफलक शार्टक्टसचे अवलोकन आणि बदल करा आणि टाइपिंग पसंती ठरवा
Comment[ms]=Lihat dan ubah pintasan papan kekunci dan tetapkan keutamaan menaip anda
Comment[nb]=Vis og bytt tastatursnarveier, og endre skriveoppsett
Comment[nl]=Sneltoetsen bekijken en wijzigen en typvoorkeuren instellen
Comment[oc]=Afichar, modificar los acorchis de clavièr e definir vòstras preferéncias de picada
Comment[or]=କିବୋର୍ଡ ସଂକ୍ଷିପ୍ତ ପଥଗୁଡ଼ିକୁ ଦେଖିକରି ପରିବର୍ତ୍ତନ କରନ୍ତୁ ଏବଂ ଆପଣଙ୍କର ଲେଖିବା ପସନ୍ଦକୁ ସେଟ କରନ୍ତୁ
Comment[pa]=ਕੀਬੋਰਡ ਸ਼ਾਰਟਕੱਟ ਵੇਖੋ ਤੇ ਬਦਲੋ ਅਤੇ ਆਪਣੀ ਟਾਈਪ ਕਰਨ ਲਈ ਪਸੰਦ ਦਿਉ
Comment[pl]=Wyświetlanie i zmiana skrótów klawiszowych oraz ustawianie preferencji pisania
Comment[pt]=Ver e alterar atalhos de teclado e definir as suas preferências de escrita
Comment[pt_BR]=Veja e altere os atalhos de teclado e defina suas preferências de digitação
Comment[ro]=Vedeți și schimbați scurtăturile de tastatură și configurați preferințele de tastare
Comment[ru]=Просмотр и изменение комбинаций клавиш, а также настройка ввода
Comment[sk]=Zobrazuje a mení klávesové skratky a tiež nastavuje vami preferované voľby písania
Comment[sl]=Ogled in sprememba tipkovnih bližnjic in nastvite možnosti tipkanja
Comment[sr]=Погледајте и измените пречице тастатуре и подесите ваше поставке куцања
Comment[sr@latin]=Pogledajte i izmenite prečice tastature i podesite vaše postavke kucanja
Comment[sv]=Visa och ändra tangentbordsgenvägar samt ange dina skrivinställningar
Comment[ta]=விசைப்பலகை குறூக்கு வழிகளைக் கண்டு மாற்றவும், அத்துடன் உங்கள் தட்டச்சு முன்னுரிமைகளை அமைக்கவும்
Comment[te]=కీబోర్డు లఘువులను దర్శించి మార్చు మరియు మీ టైపింగ్ అభీష్టాలను అమర్చు
Comment[tg]=Миёнбурҳои клавиатураро намоиш диҳед ва тағйир диҳед, ва бартариҳои чопкунии худро таъин кунед
Comment[th]=ดูและตั้งปุ่มลัดและปรับแต่งการป้อนข้อความของคุณ
Comment[tr]=Klavye kısayollarını görün ve değiştirin ayrıca yazım tercihlerinizi belirleyin
Comment[uk]=Переглянути і змінити клавіатурні скорочення і вказати параметри введення
Comment[vi]=Xem và thay đổi phím tắt và đặt tùy thích nhập liệu
Comment[zh_CN]=查看和更改快捷并设置打字偏好
Comment[zh_HK]=檢視與更改鍵盤捷徑鍵並設定你的輸入偏好設定
Comment[zh_TW]=檢視與變更鍵盤快捷鍵並設定您的輸入偏好設定
Comment=View and change keyboard shortcuts and set your typing preferences
Exec=gnome-control-center keyboard
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=input-keyboard
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=keyboard
X-GNOME-Bugzilla-Version=3.36.4
# Translators: Search terms to find the Keyboard panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=kortpad;werkspasie;venster;verander;grootte;zoem;kontras;invoer;bron;sluit;volume;
Keywords[ar]=اختصار;منطقة عمل;نافذة;تحجيم;تقريب;تباين;إدخال;مصدر;قفل;
Keywords[be]=Скарот;Працоўны;Прастора;Акно;Памер;Маштаб;Кантраснасць;Увод;Блакіроўка;Гучнасць;
Keywords[bg]=клавишни;комбинации;бързи;работно;място;плот;прозорец;преоразмеряване;увеличение;мащабиране;контраст;вход;източник;заключване;сила;звук;shortcut;workspace;window;resize;zoom;contrast;input;source;lock;volume;
Keywords[ca]=Drecera;Espai de treball;Finestra;Canvia la mida;Amplia;Contrast;Entrada;Font;Bloqueig;Volum;
Keywords[ca@valencia]=Drecera;Espai de treball;Finestra;Canvia la mida;Amplia;Contrast;Entrada;Font;Bloqueig;Volum;
Keywords[ckb]=قەدبڕ;شوێنکار;پەنجەرە;گۆڕینی قەبارە;زووم;جیاوازی;تێجوو;سەرچاوە;قفڵ;قەبارە;
Keywords[cs]=klávesová zkratka;zkratka;pracovní plocha;okno;změnit velikost;změna velikosti;přiblížit;přiblížení;zvětšit;zmenšit;kontrast;vstup;zdroj;zámek;zamknout;hlasitost;
Keywords[da]=Genvej;Arbejdsområde;Vindue;Størrelse;Zoom;Kontrast;Input;Inddata;Kilde;Lås;Volumen;Lydstyrke;
Keywords[de]=Kürzel;Arbeitsfläche;Fenster;Vergrößern;Verkleinern;Kontrast;Eingabe;Quelle;Sperren;Lautstärke;
Keywords[el]=Συντόμευση;Χώρος εργασίας;Παράθυρο;Αλλαγή μεγέθους;Εστίαση;Αντίθεση;Εισαγωγή;Πηγή;Κλείδωμα;Τόμος;Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;
Keywords[en_GB]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;
Keywords[eo]=Klavkombino;Laborspaco;Fenestro;Aligrandigi;Zomi;Kontrasto;Enigo;Fonto;Ŝlosi;Laŭteco;
Keywords[es]=atajo;área;trabajo;ventana:redimensionar;ampliación;contraste;fuente;entrada;bloqueo;volumen;
Keywords[eu]=Laster-tekla;Laneko area;Leihoa;Tamaina aldatzea;Zooma;Kontrastea;Sarrera;Iturburua;Blokeatu;Bolumena;
Keywords[fa]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;میانبر;میان‌بر;فضای کاری;پنجره;اندازه;بزرگ‌نمایی;تضاد;ورودی;منبع;قفل;صدا;
Keywords[fi]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;pikanäppäin;työtila;ikkuna;syöte;
Keywords[fr]=Raccourci;Espace de travail;Fenêtre;Redimensionner;Zoom;Contraste;Saisie;Source;Verrouiller;Volume;
Keywords[fur]=Scurte;Spazi di lavôr;Barcon;Ridimensione;Cambiâ dimension;Ingrandiment;Contrast;Inpunt;Jentrade;Sorzint;Bloche;Volum;
Keywords[gd]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;ath-ghoirid;rum-obrach;uinneag;meud;meudaich;ath-mheudaich;ath-mheudachadh;sùm;iomsgaradh;ion-chur;cur a-steach;cuir a-steach;tùs;glas;glais;iom-dhraibh;
Keywords[gl]=Atallo;Espazos de traballo;Xanela;Redimensionar;Zoom;Contraste;Entrada;Orixe;Bloqueo;Volume;
Keywords[he]=צירופי מקשים;קיצורי מקשים;מרחב עבודה;חלון;חלונות;שינוי גודל;הגדלה;ניגודיות;קלט;מקור;נעילה;עצמה;
Keywords[hr]=Prečac;Radni prostor;Prozor;Promjena veličine;Uvečanje;Kontrast;Ulaz;Izvor;Zaključavanje;Glasnoća zvuka;
Keywords[hu]=Gyorsbillentyű;Munkaterület;Ablak;Átméretezés;Nagyítás;Kontraszt;Bemenet;Forrás;Zárolás;Kötet;
Keywords[id]=Pintasan;Ruang Kerja;Jendela;Ubah Ukuran;Zum;Kontras;Masukan;Sumber;Kunci;Volume;
Keywords[is]=Flýtilykill;Vinnusvæði;Gluggi;Stærð;Aðdráttur;Birtuskil;Inntak;Uppruni;Læsa;Hljóðstyrkur;
Keywords[it]=scorciatoia;spazio;lavoro;finestra;ridimensiona;ingrandimento;zoom;contrasto;input;ingresso;immissione;sorgente;blocco;volume;
Keywords[ja]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;ショートカット;ワークスペース;ウィンドウ;リサイズ;サイズ変更;ズーム;コントラスト;入力;インプット;ソース;ロック;ボリューム;音量;
Keywords[kk]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Жарлық;Жұмыс орны;Терезе;Өлшемді өзгерту;Масштаб;Контраст;Енгізу;Қайнар көзі;Блоктау;Дыбыс;
Keywords[ko]=Shortcut;바로;가기;단축키;Workspace;작업;공간;Window;창;윈도우;Resize;Zoom;크기;조정;줌;Contrast;대비;고대비;Input;입력;Source;Lock;잠금;잠그기;Volume;볼륨;소리;
Keywords[lt]=Trumpinus;Darbo sritis;Langas;Dydžio keitimas;Mastelis;Kontrastas;Įvestis;Šaltinis;Rakinimas;Garsas;
Keywords[lv]=Saīsne;Darbvieta;Logs;Mainīt izmēru;Tuvināt;Tālināt;Mērogs;Kontrasts;Ievade;Avots;Bloķēšana;Skaļums;
Keywords[mjw]=Shortcut;Workspace;Window;The-bi;Zoom;Contrast;Input;Source;Lock;Volume;
Keywords[ml]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;
Keywords[ms]=Pintasan;Ruang Kerja;Tetingkap;Saiz Semula;Zum;Beza Jelas;Input;Sumber;Kunci;Volum;
Keywords[nb]=snarvei;arbeidsområde;vindu;endre størrelse;zoom;kontrast;inndata;kilde;lås;volum
Keywords[nl]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Sneltoets;Werkruimte;Venster;Vergrendelen;
Keywords[oc]=Acorchi;Espaci de trabalh;Fenèstra;Redimensionar;Zoom;Contraste;Picada;Font;Verrolhar;Volum;
Keywords[pa]=ਸ਼ਾਰਟਕੱਟ;ਵਰਕਸਪੇਸ;ਵਿੰਡੋ;ਮੁੜ-ਆਕਾਰ;ਰੀਸਾਈਜ਼;ਜ਼ੂਮ;ਕਨਟਰਾਸਟ;ਇਨਪੁਟ;ਸਰੋਤ;ਲਾਕ;ਵਾਲੀਅਮ;
Keywords[pl]=Skrót;Skróty;Obszar;roboczy;Okno;Zmień;rozmiar;Zmiana;rozmiaru;Powiększanie;Przybliżanie;Zoom;Kontrast;Źródło;wprowadzania;Blokada;Zablokuj;Głośność;
Keywords[pt_BR]=Atalho;Teclado;Espaço;Trabalho;Janela;Redimensionar;Tela;Contraste;Fonte;Entrada;Bloqueio;Bloquear;Volume;
Keywords[ro]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Scurtătură;Scurtături;Fereastră;Redimensionează;Sursă;Blochează;Volum;
Keywords[ru]=Комбинация;Рабочая;область;Окно;Изменение;размера;масштабирование;Контраст;Ввод;Источник;Блокировка;Том;
Keywords[sk]=odkaz;skratka;pracovný;priestor;okno;zmena;veľkosti;lupa;priblíženie;kontrast;vstup;vstupný;zdroj;zámok;uzamknutie;hlasitosť;
Keywords[sl]=tipkovna bližnjica;delovna površina;okno;prilagoditev;velikost;kontrast;približanje;vir;zaklep;glasnost;jakost;
Keywords[sr]=пречица;радни простор;прозор;промени величину;зум;контраст;улаз;извор;закључај;волумен;
Keywords[sr@latin]=prečica;radni prostor;prozor;promeni veličinu;zum;kontrast;ulaz;izvor;zaključaj;volumen;
Keywords[sv]=Genväg;Arbetsyta;Fönster;Storleksändring;Zoom;Kontrast;Inmatning;Källa;Lås;Volym;
Keywords[tr]=Kısayol;Çalışma alanı;Pencere;Yeniden boyutlandır;Yakınlaşma;Karşıtlık;Girdi;Kaynak;Kilit;Ses;
Keywords[uk]=Комбінація;Робоча область;Вікно;Зміна розміру;Масштаб;Контраст;Введення;Джерело;Блокування;Том;Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;
Keywords[vi]=Shortcut;phím tắt;phim tat;Workspace;không gian làm việc;khong gian làm viec;Window;cửa sổ;cua so;Resize;đổi cỡ;doi co;Zoom;phóng to;phong to;Contrast;tương phản;tuong phan;Input;Source;nguồn;nguon;Lock;khóa;khoa;Volume;âm lượng;am luong;
Keywords[zh_CN]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;快捷键;工作空间;窗口;更改大小;缩放;对比度;输入;源;锁定;音量;
Keywords[zh_TW]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;捷徑鍵;快捷鍵;工作區;視窗;重新調整大小;縮放;拉遠;拉近;遠近;輸入;來源;輸入法;鎖定;上鎖;音量;
Keywords=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;
