[Desktop Entry]
Name[bs]=2048
Name[ca]=2048
Name[cs]=2048
Name[da]=2048
Name[de]=2048
Name[el]=2048
Name[en_GB]=2048
Name[es]=2048
Name[eu]=2048
Name[fi]=2048
Name[fr]=2048
Name[fur]=2048
Name[he]=2048
Name[hr]=2048
Name[hu]=2048
Name[id]=2048
Name[it]=2048
Name[lt]=2048
Name[nl]=2048
Name[pl]=2048
Name[pt]=2048
Name[pt_BR]=2048
Name[ro]=2048
Name[ru]=2048
Name[sk]=2048
Name[sl]=2048
Name[sr]=2048
Name[sr@latin]=2048
Name[sv]=2048
Name[tr]=2048
Name[uk]=2048
Name[zh_CN]=2048
Name=2048
Comment[bs]=Dobijte 2048 pločicu
Comment[ca]=Obteniu la casella 2048
Comment[cs]=Získejte kámen 2048
Comment[da]=Nå flisen med 2048
Comment[de]=Erlangen Sie die 2048-Kachel
Comment[el]=Φτιάξτε το πλακίδιο 2048
Comment[en_GB]=Obtain the 2048 tile
Comment[es]=Obtener la ficha 2048
Comment[eu]=Eskuratu 2048 lauza
Comment[fi]=Saavuta 2048-laatta
Comment[fr]=Obtenir la tuile 2048
Comment[fur]=Oten il bloc 2048
Comment[he]=להשיג את האריח 2048
Comment[hr]=Složite ploču 2048
Comment[hu]=Szerezze meg a 2048-as csempét
Comment[id]=Dapatkan ubin 2048
Comment[it]=Raggiungi il fatidico numero 2048
Comment[ko]=2048 타일을 만드세요
Comment[lt]=Pasiekti 2048 plytelę
Comment[nl]=Bereik de 2048-tegel
Comment[pl]=Uzyskaj liczbę 2048
Comment[pt]=Atingir os 2048
Comment[pt_BR]=Obtenha o bloco 2048
Comment[ro]=Obțineți dala 2048
Comment[ru]=Получите плитку 2048
Comment[sk]=Získajte dlaždicu 2048
Comment[sl]=Cilj je polje 2048
Comment[sr]=Добијте 2048 плочицу
Comment[sr@latin]=Dobijte 2048 pločicu
Comment[sv]=Erhåll 2048-brickan
Comment[tr]=2048'i elde edin
Comment[uk]=Отримайте плитку 2048
Comment[zh_CN]=获得值为 2048 的方块
Comment=Obtain the 2048 tile
TryExec=gnome-2048
Exec=gnome-2048
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/gnome-2048.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Game;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bs]=slagalica;
Keywords[ca]=trencaclosques;
Keywords[cs]=logická;hra;hlavolam;
Keywords[da]=puzzle;
Keywords[de]=Puzzle;
Keywords[el]=γρίφος;puzzle;
Keywords[en_GB]=puzzle;
Keywords[es]=puzle;
Keywords[eu]=puzzlea;
Keywords[fi]=puzzle;pulmapeli;
Keywords[fr]=puzzle;casse-tête;
Keywords[fur]=puzzle;gredei;
Keywords[he]=פאזל;לוח;
Keywords[hr]=slagalica;
Keywords[hu]=puzzle;kirakó;fejtörő;
Keywords[id]=teka-teki;
Keywords[it]=puzzle;rompicapo;gioco;
Keywords[ko]=퍼즐;
Keywords[lt]=dėlionė;galvosūkis;
Keywords[nb]=puslespill;
Keywords[nl]=puzzle;puzzel;
Keywords[pl]=łamigłówka;puzzle;puzle;
Keywords[pt]=jogo;
Keywords[pt_BR]=quebra-cabeça;puzzle;
Keywords[ro]=puzzle;
Keywords[ru]=головоломка;пазл;
Keywords[sk]=puzzle;hlavolam;
Keywords[sl]=igra;uganka;sudoku;seštevanje;
Keywords[sr]=слагалица;
Keywords[sr@latin]=slagalica;
Keywords[sv]=pussel;
Keywords[tr]=bulmaca;
Keywords[uk]=головоломка;
Keywords[zh_CN]=puzzle;谜;
Keywords=puzzle;
