[Desktop Entry]
Name[ca]=Consola
Name[cs]=Konzola
Name[es]=Consola
Name[eu]=Kontsola
Name[fa]=کنسول
Name[fi]=Konsoli
Name[gl]=Consola
Name[he]=מסוף
Name[hr]=Konzola
Name[id]=Konsol
Name[lt]=Konsolė
Name[oc]=Consòla
Name[pl]=Konsola
Name[pt]=Consola
Name[pt_BR]=Console
Name[ru]=Консоль
Name[sk]=Konzola
Name[sl]=Konzola
Name[sv]=Konsol
Name[tr]=Konsol
Name[uk]=Консоль
Name[zh_CN]=控制台
Name=Console
Exec=kgx
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/console.png
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=ordre;prompt;cmd;línia d'ordres;executa;shell;terminal;kgx;kings cross;
Keywords[cs]=příkaz;výzva;cmd;command;prompt;commandline;cli;spustit;spouštění;shell;terminál;kgx;kings cross;
Keywords[da]=kommando;prompt;cmd;kommandolinje;kør;skal;terminal;kgx;kings cross;
Keywords[de]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;befehl;kommando;befehlszeile;kommandozeile;ausführen;
Keywords[en_GB]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[es]=comando;prompt;cmd;línea;ejecutar;shell;terminal;kgx;kings cross;
Keywords[eu]=komandoa;gonbitea;cmd;komando-lerroa;exekutatu;shell-a;terminala;kgx;kings cross;
Keywords[fa]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;دستور;فرمان;اعلان;خط فرمان;اجرا;پوسته;شل;ترمینال;پایانه;
Keywords[fi]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;pääte;terminaali;komentorivi;
Keywords[fr]=commande;prompt;invite;cmd;commandline;ligne de commande;exécuter;lancer;shell;terminal;kgx;kings cross;
Keywords[fur]=comant:prompt;cmd;rie di comant;shell;terminâl;kgx;kings cross;
Keywords[gl]=orde;prompt;cmd;liña de ores;executar;shell;terminal;kgx;kings cross;
Keywords[he]=פקודה;הפעלה;cmd;שורת פקודה;מעטפת;של;טרמינל;מסוף;kgx;
Keywords[hr]=naredba;upit;cmd;naredbeni redak;pokreni;ljuska;terminal;kgx;kings cross;
Keywords[hu]=parancs;bekérés;cmd;parancssor;futtatás;parancsértelmező;terminál;kgx;király;keresztje;
Keywords[id]=perintah;prompt;cmd;baris perintah;jalankan;shell;terminal;kgx;kings cross;
Keywords[it]=comando:prompt;cmd;riga di comando;shell;terminale;kgx;kings cross;
Keywords[lt]=komandų;eilutė;cmd;komanda;vykdyti;apvalkalas;terminalas;kgx;kings cross;
Keywords[nl]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;opdrachtregel;opdrachtlijn;commandoregel;commandolijn;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;cmd;konsola;terminal;kgx;kings cross;
Keywords[pt]=comando;command;prompt;cmd;consola;linha de comandos;commandline;executar;run;shell;terminal;kgx;kings cross;
Keywords[pt_BR]=comando;command;prompt;cmd;linha de comando;commandline;executar;run;shell;terminal;kgx;kings cross;
Keywords[ro]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;comandă;linie de comandă;intersecția regelui;
Keywords[ru]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Keywords[sk]=príkaz;príkazový;riadok;cmd;spustiť;spustenie;shell;terminál;kgx;kings cross;
Keywords[sl]=ukaz;cmd;ukazna vrstica;zagon;lupina;terminal;kgx;
Keywords[sr]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;наредба;линија;цмд;командлајн;покрени;шел;шкољка;терминал;кгџ;краљев крст;
Keywords[sv]=kommando;prompt;cmd;kommandorad;kör;skal;terminal;kgx;kings cross;
Keywords[tr]=komut;istem;cmd;komut satırı;çalıştır;kabuk;uçbirim;terminal;kgx;kings cross;
Keywords[uk]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;команда;запит;командний рядок;запустити;запуск;оболонка;термінал;кінгс-кросс;
Keywords[zh_CN]=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;命令;提示符;命令行;运行;终端;
Keywords=command;prompt;cmd;commandline;run;shell;terminal;kgx;kings cross;
Terminal=false
Type=Application
Categories=System;TerminalEmulator;X-GNOME-Utilities;GTK;GNOME;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
Actions=new-window;new-tab;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Exec=kgx
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[id]=Jendela Baru
Name[lt]=Naujas langas
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое Окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name=New Window
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=window-new

[Desktop Action new-tab]
Exec=kgx --tab
Name[ca]=Pestanya nova
Name[cs]=Nová karta
Name[da]=Nyt faneblad
Name[de]=Neuer Reiter
Name[el]=Νέα καρτέλα
Name[en_GB]=New Tab
Name[es]=Pestaña nueva
Name[eu]=Fitxa berria
Name[fa]=زبانهٔ جدید
Name[fi]=Uusi välilehti
Name[fr]=Nouvel onglet
Name[fur]=Gnove schede
Name[gl]=Nova lapela
Name[he]=לשונית חדשה
Name[hr]=Nova kartica
Name[hu]=Új lap
Name[id]=Tab Baru
Name[lt]=Nauja kortelė
Name[nl]=Nieuw tabblad
Name[oc]=Onglet novèl
Name[pl]=Nowa karta
Name[pt]=Novo separador
Name[pt_BR]=Nova aba
Name[ro]=Filă nouă
Name[ru]=Новая Вкладка
Name[sk]=Nová karta
Name[sl]=Nov zavihek
Name[sr]=Нови језичак
Name[sv]=Ny flik
Name[tr]=Yeni Sekme
Name[uk]=Нова вкладка
Name[zh_CN]=新建标签页
Name=New Tab
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=tab-new
